Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

Update CI/CD
  .github/workflows/deploy_server_dev_be.yml
  .github/workflows/deploy_server_dev_fe.yml
  .github/workflows/deploy_server_prod_be.yml
  .github/workflows/deploy_server_prod_fe.yml
  .github/workflows/deploy_server_stg_be.yml
  .github/workflows/deploy_server_stg_fe.yml
Due: none

feature/52412 = refactor UI/UX configuration page
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

add migration: create table ReviewInternComments
  aspnet-core/src/Timesheet.Core/Entities/ReviewInternComment.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230925094031_ReviewInternComments_create_table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230925094031_ReviewInternComments_create_table.cs
Due: azure-pipelines-be.yml

edit api reviewDetail/GetAllDetails and reviewDetail/PMReviewInternCapability, add new api reviewDetail/HrVerify and reviewDetail/HeadPmVerify
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/PMReviewDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewInternCommentInputDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml

feature/52412 = refactor configuration page
  angular/src/app/configuration/configuration.component.css
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

Feature/52266-FE
  angular/src/app/constant/api.constants.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.css
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.html
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.spec.ts
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.ts
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.html
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.ts
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  angular/src/app/modules/review/review-detail/review-detail.module.ts
  angular/src/app/service/api/review-detail.service.ts
  angular/src/bsb-theme/css/style.css
Due: azure-pipelines-fe.yml

create Unit test for 2 new api reviewDetail/HrVerify and reviewDetail/HeadPmVerify
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/test/Timesheet.Application.Tests/API/ReviewDetails/ReviewDetailAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/Tables/dbo.ReviewDetails.xlsx
  aspnet-core/test/Timesheet.Application.Tests/Tables/dbo.ReviewInternComments.xlsx
  aspnet-core/test/Timesheet.Tests/Seeders/DataSeederConsumer.cs
Due: azure-pipelines-be.yml

feature/52506 + Migration create new ValueOfUserInProject table
  aspnet-core/src/Timesheet.Core/Entities/ValueOfUserInProject.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230926093454_ValueOfUserInProject_Create_Table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230926093454_ValueOfUserInProject_Create_Table.cs
Due: azure-pipelines-be.yml

rename entity, add create field for private note
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewInternPrivateNoteDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Core/Entities/ReviewInternComment.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230926095555_ReviewInternPrivateNotes_create_table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230926095555_ReviewInternPrivateNotes_create_table.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/TimesheetDbContextModelSnapshot.cs
  aspnet-core/test/Timesheet.Application.Tests/API/ReviewDetails/ReviewDetailAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/Tables/dbo.ReviewInternComments.xlsx
  aspnet-core/test/Timesheet.Application.Tests/Tables/dbo.ReviewInternPrivateNotes.xlsx
  aspnet-core/test/Timesheet.Application.Tests/Timesheet.Application.Tests.csproj
  aspnet-core/test/Timesheet.Tests/Seeders/DataSeederConsumer.cs
Due: azure-pipelines-be.yml

bugfix/52510 = check the page cannot be accessed
  angular/src/root.module.ts
Due: azure-pipelines-fe.yml

feature/52506 update pr 27/09/2023
  aspnet-core/src/Timesheet.Core/Entities/ValueOfUserInProject.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230927012359_ValueOfUserInProject_Create_Table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230927012359_ValueOfUserInProject_Create_Table.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Timesheet.EntityFrameworkCore.csproj
Due: azure-pipelines-be.yml

rename file
  aspnet-core/src/Timesheet.Core/Entities/ReviewInternPrivateNote.cs
Due: azure-pipelines-be.yml

refactor query for api reviewDetail/getAllDetail
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

feature/52128 + BE create API manage user project for branch
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/CreateValueOfUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/GetAllValueOfUserInProjectByUserIdDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
Due: azure-pipelines-be.yml

sua code feature/52266
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.html
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.ts
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.html
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.ts
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
Due: azure-pipelines-fe.yml

feature/52128 = update pr 27/09/2023
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/GetAllValueOfUserInProjectByUserIdDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
Due: azure-pipelines-be.yml

remove old data PrivatenNote when PM review again
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.ts
Due: azure-pipelines-fe.yml

fix code
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  aspnet-core/src/Timesheet.Core/Entities/ReviewInternPrivateNote.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix enum
  angular/src/app/modules/review/review-detail/review-detail.component.ts
Due: azure-pipelines-fe.yml

fix enum 2
  angular/src/app/modules/review/review-detail/review-detail.component.ts
Due: azure-pipelines-fe.yml

add new API /ManageUserProjectForBranchs/GetAllUserPagging
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml

feature/52128 update query list project
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
Due: azure-pipelines-be.yml

Feature/52266 +: [Review intern] improve review intern (#8)
  angular/src/app/constant/api.constants.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.css
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.html
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.spec.ts
  angular/src/app/modules/review/review-detail/new-hr-verify-internship/new-hr-verify-internship.component.ts
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.html
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.ts
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  angular/src/app/modules/review/review-detail/review-detail.module.ts
  angular/src/app/service/api/review-detail.service.ts
  angular/src/bsb-theme/css/style.css
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/PMReviewDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewInternPrivateNoteDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/Entities/ReviewInternPrivateNote.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230926095555_ReviewInternPrivateNotes_create_table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230926095555_ReviewInternPrivateNotes_create_table.cs
  aspnet-core/test/Timesheet.Application.Tests/API/ReviewDetails/ReviewDetailAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/Tables/dbo.ReviewDetails.xlsx
  aspnet-core/test/Timesheet.Application.Tests/Tables/dbo.ReviewInternPrivateNotes.xlsx
  aspnet-core/test/Timesheet.Application.Tests/Timesheet.Application.Tests.csproj
  aspnet-core/test/Timesheet.Tests/Seeders/DataSeederConsumer.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fixbug/52652 update config in appsettings.json file
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

feature/52501=: connect sentry selfhosted to be timesheet
  aspnet-core/src/Timesheet.Web.Host/Startup/Startup.cs
  aspnet-core/src/Timesheet.Web.Host/Timesheet.Web.Host.csproj
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
  aspnet-core/src/Timesheet.Web.Host/log4net.config
Due: azure-pipelines-be.yml

bugfix/52633 = update case request onsite not punish
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

feature/52501 = remove dsn in log4net.config
  aspnet-core/src/Timesheet.Web.Host/log4net.config
Due: azure-pipelines-be.yml

Feature/52130 + : create main screen for Manage employee for GDVP
  angular/src/app/constant/permission.constant.ts
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/branch-manager/branch-manager-routing.module.ts
  angular/src/app/modules/branch-manager/branch-manager.component.css
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.component.spec.ts
  angular/src/app/modules/branch-manager/branch-manager.component.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/main-routing.module.ts
  angular/src/app/service/api/manage-user-for-branch.service.spec.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  angular/src/app/service/api/model/branch-manager-dto.ts
Due: azure-pipelines-fe.yml

edit API getAllValueOfUserInProjectByUserId
  angular/package.json
  angular/src/assets/appconfig.json
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix file package.json
  angular/package.json
Due: azure-pipelines-fe.yml

feature/52501 = refactor code
  aspnet-core/src/Timesheet.Web.Host/Startup/Startup.cs
Due: azure-pipelines-be.yml

feature/49681 + update display punish daily and mention in my timesheet, fix unit test get data checkin checkout
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetTimekeepingUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Entities/Timekeeping.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/Dto/GetDailyReportDto.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230929080608_Timekeeping_Add_Column_CountPunishDaily_And_CountPunishMention.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230929080608_Timekeeping_Add_Column_CountPunishDaily_And_CountPunishMention.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Public/PublicAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Timekeepings/TimekeepingAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/JsonData/TimekeepingsAppService_Tests/get_daily_report_result.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/52534-git update new business send message to user when request off/remote/onsite pending
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyApproveRequestOffWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/ApproveRequestOffConfigDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ApproveRequestOffServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/52675 delete internal key in code
  aspnet-core/src/Timesheet.Core/Services/Tracker/TrackerService.cs
Due: azure-pipelines-be.yml

feature/52129 create new API for chart: ManageUserForBranchAppService/GetStatisticNumOfUsersInProject
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserStatisticInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml

feature/49681 update pr 03/10/2023
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetTimekeepingUserDto.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix API
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserStatisticInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserValueDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/GetAllValueOfUserInProjectByUserIdDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
Due: azure-pipelines-be.yml

feature/52501 = refactor code
  aspnet-core/src/Timesheet.Web.Host/log4net.config
Due: azure-pipelines-be.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
