Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

update not including office working service and anomalies service
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
Due: azure-pipelines-be.yml

refactor code change to use const not hard string
  angular/src/AppPreBootstrap.ts
  angular/src/account/login/login.service.ts
  angular/src/app/constant/storage-keys.constant.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet.service.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-success-dialog/transaction-success-dialog.component.ts
  angular/src/assets/appconfig.json
  angular/src/assets/appconfig.production.json
  angular/src/shared/AppConsts.ts
  angular/src/shared/mmn-clients.ts
Due: azure-pipelines-fe.yml

remove unnecessary dto
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

get donation wallet from be
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet.service.ts
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/MMNConfigDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update logic Deactive User Flow
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

remove some unnecessary comments
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.ts
Due: azure-pipelines-fe.yml

remove unnecessary dto
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
Due: azure-pipelines-be.yml

resolve conflict of three reports
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
Due: azure-pipelines-be.yml

resolve conflicts of three reports
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
Due: azure-pipelines-be.yml

update
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
Due: azure-pipelines-be.yml

update logic deactive user on page Manage off/remote/onsite
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
Due: azure-pipelines-be.yml

change login and logout flow
  angular/src/account/login/login.service.ts
  angular/src/shared/auth/app-auth.service.ts
Due: azure-pipelines-fe.yml

fix logic
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

update
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update color for message
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/bsb-theme/css/style.css
Due: azure-pipelines-fe.yml

update color for message
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update login
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
Due: azure-pipelines-be.yml

update logic deactive user on page user
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

add name space
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

create new table UserPunishmentHistory, 2 new api for snapshot and retrieve punishment data
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ITimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishmentHistory.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251126065913_Add_UserPunishmentHistory_Table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251126065913_Add_UserPunishmentHistory_Table.cs
Due: azure-pipelines-be.yml

update sdk
  angular/package-lock.json
  angular/package.json
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update logic
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update logic deactive user when project is deactive
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

update use ponts location
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

Merge conflicts
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml

update
  angular/src/app/service/api/user-punishment-paid.service.ts
Due: azure-pipelines-fe.yml

add two button snap shot and retrieve
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/report/tardiness-leave-early/selected-date/selected-date.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.ts
  angular/src/app/service/api/timekeeping.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update login logic for zk proof
  angular/src/account/login/login.service.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

update message for each button
  angular/src/app/modules/report/tardiness-leave-early/selected-date/selected-date.component.ts
Due: azure-pipelines-fe.yml

add punishment amount to Paid your fine form, auto fill the amount, and add tooltip when button disable
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.ts
Due: azure-pipelines-fe.yml

css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.css
Due: azure-pipelines-fe.yml

update logic of project report
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

peformance logic deactive user not use getall
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

update logic to peformance code
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

update logic to sync userpunishment from snapshot
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

add validate user cannot enter money < punishment amount
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.ts
Due: azure-pipelines-fe.yml

update logic markaspaid
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix bug punishment money
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

fix unit test
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Info/InfoAppServiceTest.cs
  aspnet-core/test/Timesheet.Application.Tests/API/ManageWorkingTimes/ManageWorkingTimeAppService_Tests.cs
  aspnet-core/test/Timesheet.Tests/TestBase.cs
Due: azure-pipelines-be.yml

peformance code
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
