Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

update review intern features
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/Dto/ReviewDataDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml

all details are on pm reviewed status along with reviewed status to send to head pm
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml

update content to send
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
Due: azure-pipelines-be.yml

Revert "Fix: Auto-login from mini app"
  angular/src/account/account.component.ts
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/shared/auth/auth-route-guard.ts
Due: azure-pipelines-fe.yml

Revert "fix: Fix UI login"
  angular/src/account/account.component.ts
Due: azure-pipelines-fe.yml

Revert "Feat/update login timesheet app"
  angular/src/account/account.component.ts
  angular/src/app/service/api/mezon-webview-service.ts
Due: azure-pipelines-fe.yml

fix: Auto-login flow
  angular/src/account/account.component.ts
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app/service/api/mezon-webview-service.ts
  angular/src/shared/auth/auth-route-guard.ts
Due: azure-pipelines-fe.yml

update content to send
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml

refactor: Clean code
  angular/src/account/login/login.component.ts
  angular/src/app/service/api/mezon-webview-service.ts
Due: azure-pipelines-fe.yml

update deactivate user flow
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/test/Timesheet.Application.Tests/API/ReviewInterns/ReviewInternAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/Projects/ProjectAppServiceTest.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Users/UserAppServiceTestBase.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

update frontend of anomalies report
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.css
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.html
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.html
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/enum/anomalies-report.enum.ts
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/service/api/anomalies-report.service.ts
Due: azure-pipelines-fe.yml

feat: Update UI for Donate on dong.mezon
  angular/src/app/app.component.ts
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.html
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet.service.ts
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/MMNTransactionResponse.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

refactor: Move redirect funtion to Dialog
  angular/src/app/app.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

update deactivate user when being called from hrm service
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

refactor: Update UI for notification
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

refactor: Clean code
  angular/src/app/app.component.ts
Due: azure-pipelines-fe.yml

update logic of ts file: using enums, fix the date config and use interfaces
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/enum/anomalies-report.enum.ts
  angular/src/app/service/api/anomalies-report.service.ts
Due: azure-pipelines-fe.yml

optimize code, use common functions
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/test/Timesheet.Application.Tests/API/HRMV2/HRMv2AppService_Test.cs
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/Projects/ProjectAppServiceTest.cs
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/Projects/ProjectAppServiceTestBase.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Users/UserAppServiceTestBase.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

fix: Message appear when login
  angular/src/account/auth-callback/auth-callback.component.ts
Due: azure-pipelines-fe.yml

feat: Get Approve special day off request from W2
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/Services/W2/Dto/W2RequestStatusDto.cs
  aspnet-core/src/Timesheet.Core/Services/W2/IW2Service.cs
  aspnet-core/src/Timesheet.Core/Services/W2/W2Service.cs
Due: azure-pipelines-be.yml

remove "Đi muộn Về sớm" selection from request type selector
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.ts
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
Due: azure-pipelines-fe.yml

allow to send remote requests when previous week is in off type setting
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

fix displaying wrong userpunishment type in timesheet confirmation popup
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
Due: azure-pipelines-fe.yml

add overtime filter for timesheet management UI, timesheet supervisor UI and overtime report UI
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/report/over-time/over-time.component.css
  angular/src/app/modules/report/over-time/over-time.component.html
  angular/src/app/modules/report/over-time/over-time.component.ts
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
  angular/src/app/service/api/over-time.service.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/app/service/api/timesheets-supervisior.service.ts
  aspnet-core/src/Timesheet.Application/APIs/HRM/HRMAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/Dto/InputCollectDataForPayslipDto.cs
  aspnet-core/src/Timesheet.Application/APIs/OverTimeHours/OverTimeHourAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/Dto/InputGetEffortMonthlyChartDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/Dto/InputGetTimesheetChartOfUserGroupDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update request off/remote/tardiness/early flow
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.ts
  angular/src/app/modules/absence-day/tardiness-leave-early-dialog/tardiness-leave-early-dialog.component.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update status of tardiness/early request and remote request
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

fix: branch director cannot approve request when user is not a member of project which branch director is PM
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

improve whereif logic
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml

improve logic code
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

fix: deadline time will be the day after recieving email and mention
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

feat: Adding reject reason, update UI
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  angular/src/app/modules/timesheet/reject-timesheet-dialog/reject-timesheet-dialog.component.css
  angular/src/app/modules/timesheet/reject-timesheet-dialog/reject-timesheet-dialog.component.html
  angular/src/app/modules/timesheet/reject-timesheet-dialog/reject-timesheet-dialog.component.ts
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheet/timesheet.module.ts
  angular/src/app/service/api/model/common-DTO.ts
  angular/src/app/service/api/model/timesheet-Dto.ts
  angular/src/shared/shared.module.ts
  angular/src/shared/view-reject-reason-dialog/view-reject-reason-dialog.component.css
  angular/src/shared/view-reject-reason-dialog/view-reject-reason-dialog.component.html
  angular/src/shared/view-reject-reason-dialog/view-reject-reason-dialog.component.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/Dto/GetTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/RejectTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/Entities/MyTimesheet.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20260113085307_Add_RejectReason_To_MyTimesheet.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20260113085307_Add_RejectReason_To_MyTimesheet.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update: cannot send tardiness/early requests
  angular/src/app/modules/absence-day/absence-day.component.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

use boolean instead of integer for overtime type variable
  angular/src/app/constant/api.constants.ts
  angular/src/app/service/api/over-time.service.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/app/service/api/timesheets-supervisior.service.ts
  aspnet-core/src/Timesheet.Application/APIs/HRM/HRMAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/Dto/InputCollectDataForPayslipDto.cs
  aspnet-core/src/Timesheet.Application/APIs/OverTimeHours/OverTimeHourAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/Dto/InputGetEffortMonthlyChartDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/Dto/InputGetTimesheetChartOfUserGroupDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat: Manual lock timesheet
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/configuration.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/LockTimesheetConfigDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/CommonServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ICommonServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add new user punishment type "PM Others"
  angular/src/app/app.module.ts
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/configuration/get-pm-other-punishment-dialog/get-pm-other-punishment-dialog.component.css
  angular/src/app/configuration/get-pm-other-punishment-dialog/get-pm-other-punishment-dialog.component.html
  angular/src/app/configuration/get-pm-other-punishment-dialog/get-pm-other-punishment-dialog.component.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.css
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
  angular/src/app/service/api/pm-other-punish-setting.service.ts
  angular/src/app/service/api/user-punishment.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/ApplyPMOtherPunishmentsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/ApplyPMReportPunishmentWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/PMOtherPunishSettingDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserPunishmentServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentServices.cs
  aspnet-core/src/Timesheet.Core/Services/Project/Dto/PMPunishmentDto.cs
  aspnet-core/src/Timesheet.Core/Services/Project/ProjectService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix: add missing saving property to fix build error
  angular/src/app/configuration/get-pm-other-punishment-dialog/get-pm-other-punishment-dialog.component.ts
Due: azure-pipelines-fe.yml

fix only deactivate user from hrmv2 when user has been quitted
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserServices.cs
  aspnet-core/test/Timesheet.Application.Tests/API/HRMV2/HRMv2AppService_Test.cs
  aspnet-core/test/Timesheet.Application.Tests/API/RequestDays/RequestDayAppServiceTestBase.cs
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/Timesheets/TimesheetAppSevice_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

rename variables, remove hard codes
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/report/over-time/over-time.component.html
  angular/src/app/modules/report/over-time/over-time.component.ts
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
  angular/src/app/service/api/over-time.service.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/app/service/api/timesheets-supervisior.service.ts
  aspnet-core/src/Timesheet.Application/APIs/OverTimeHours/OverTimeHourAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove throwing exceptions, change project user status to Deactive when user is not a PM in any projects
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserServices.cs
Due: azure-pipelines-be.yml

add two dropdown menus to get data by type of work and overtime filter
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/app/service/api/timesheets-supervisior.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml
