Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

update logic bot
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/office-working-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/OfficeWorkingReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/OfficeWorkingReportSettingDto.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add throw error for configured hour
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
Due: azure-pipelines-be.yml

feat: update md5 hash mezon login web view
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Helper/Hasher.cs
Due: azure-pipelines-be.yml

split old messages into short chunk messages
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
Due: azure-pipelines-be.yml

fix logic of office working report bot, add hour and minute configuration
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/anomalies-report-setting.service.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  angular/src/app/service/api/office-working-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/AnomaliesReportSettingDto.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/OfficeWorkingReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/OfficeWorkingReportSettingDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove useless logging display
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyApproveRequestOffWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
Due: azure-pipelines-be.yml

fix frontend
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

remove lastSentDate variable (not useful for the worker)
  angular/src/app/configuration/configuration.component.html
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove useless comments
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
Due: azure-pipelines-be.yml

UI v1
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.module.ts
Due: azure-pipelines-fe.yml

fix: GetPMsOfUser api related to daily
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

fix logic of three report bots for releasing again
  angular/src/app/configuration/configuration.component.html
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add confirm button - show popup (punishments list, transactions list, import hash to confirm
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-hash-dialog/transaction-hash-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-hash-dialog/transaction-hash-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-hash-dialog/transaction-hash-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.module.ts
  angular/src/app/service/api/user-punishment-paid.service.ts
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/GetPunishmentPaidFilterDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/GetUserPunishmentPaidInput.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/MarkPaidTransactionDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/UserPunishmentPaidAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/MMNConsatant.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/MMNTransactionResponse.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserPunishmentPaidDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishmentPaid.cs
  aspnet-core/src/Timesheet.Core/Timesheet.Core.csproj
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251020081449_Add_UserPunishmentPaid_Table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251020081449_Add_UserPunishmentPaid_Table.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/Startup.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add calender to show timesheet status
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.module.ts
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update loading
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

update
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/Timesheet.Core.csproj
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update css button
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
Due: azure-pipelines-fe.yml

update md5 hash mezon login
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Helper/Hasher.cs
Due: azure-pipelines-be.yml

add timesheet logging time on calender
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

update dong.mezon.ai
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
Due: azure-pipelines-fe.yml

fix logic, doesn't fix UI yet
  angular/src/app/configuration/configuration.component.css
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
Due: azure-pipelines-fe.yml

update calender timeworking view, remove unnecessary code
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

fix wfh flows - allow user to work in office at least two days
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

fix logic allow user only send next week remote requests from this saturday
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

change variable names
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

refactor UX/UI
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

change if conditions
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

add minute fields into Project Report Setting
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

update calender showing status
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

update some logic backend
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/GetPunishmentPaidFilterDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/GetUserPunishmentPaidInput.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update year validation
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/MarkPaidTransactionDto.cs
Due: azure-pipelines-be.yml

fix bug of getting timekeeping data, setting up flags for wfh flow and period for three bots
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/anomalies-report-setting.service.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  angular/src/app/service/api/office-working-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyApproveRequestOffWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/AnomaliesReportSettingDto.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/OfficeWorkingReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/OfficeWorkingReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update login with Mezon from mezon_id to email
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Authorization/Users/MezonUser.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/UserInfoResponse.cs
Due: azure-pipelines-be.yml

add another api to filter Pms
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

fix: AddDataTimekeeping cronjob not working
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

update APIs for three reports
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/AnomaliesReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/OfficeReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ProjectReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

update
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

update sorting by counts
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

revert back to old logic of login mezon and rename api
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Authorization/Users/MezonUser.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/UserInfoResponse.cs
Due: azure-pipelines-be.yml
