Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

update responsive UI/UX for My Request and Team Working Calendar features
  angular/src/app/modules/absence-day/absence-day.component.css
  angular/src/app/modules/absence-day/absence-day.component.html
  angular/src/app/modules/absence-day/absence-day.component.ts
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.css
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.html
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.ts
  angular/src/app/modules/off-day-project-for-user/advanced-filter/advanced-filter.component.css
  angular/src/app/modules/off-day-project-for-user/advanced-filter/advanced-filter.component.html
  angular/src/app/modules/off-day-project-for-user/advanced-filter/advanced-filter.component.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.css
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.module.ts
  angular/src/app/modules/off-day-project/advanced-filter/advanced-filter.component.css
  angular/src/app/modules/off-day-project/advanced-filter/advanced-filter.component.html
  angular/src/app/modules/off-day-project/advanced-filter/advanced-filter.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.ts
  angular/src/app/modules/off-day-project/off-day-project.module.ts
Due: azure-pipelines-fe.yml

update responsive UI/UX on View User Request features
  angular/src/app/modules/absence-day/absence-day.component.css
  angular/src/app/modules/absence-day/absence-day.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.css
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.css
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.html
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.ts
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.css
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.ts
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.css
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.html
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
Due: azure-pipelines-fe.yml

Update responsive UI/UX for Submit Request feature
  angular/src/app/modules/absence-day/absence-day.component.css
  angular/src/app/modules/absence-day/absence-day.component.html
  angular/src/app/modules/absence-day/absence-day.component.ts
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.css
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.html
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.ts
Due: azure-pipelines-fe.yml

Update responsive UI/UX for Manage Absence Request feature
  angular/src/app/modules/off-day-project-for-user/advanced-filter/advanced-filter.component.css
  angular/src/app/modules/off-day-project-for-user/advanced-filter/advanced-filter.component.html
  angular/src/app/modules/off-day-project-for-user/advanced-filter/advanced-filter.component.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.css
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.module.ts
Due: azure-pipelines-fe.yml

Update responsive UI/UX for Manage One User Request feature
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.css
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.html
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.ts
Due: azure-pipelines-fe.yml

Update responsive UI/UX for Manage Team Working Calendar feature
  angular/src/app/modules/off-day-project/advanced-filter/advanced-filter.component.css
  angular/src/app/modules/off-day-project/advanced-filter/advanced-filter.component.html
  angular/src/app/modules/off-day-project/advanced-filter/advanced-filter.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.ts
  angular/src/app/modules/off-day-project/off-day-project.module.ts
Due: azure-pipelines-fe.yml

Update responsive UI/UX for Leave Day Of User feature
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.css
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.ts
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.css
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.html
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
Due: azure-pipelines-fe.yml

refactor loading icon and hiding panel after refresh
  angular/src/app/modules/absence-day/absence-day.component.ts
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.css
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.css
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
Due: azure-pipelines-fe.yml

refactor loading icon and hiding panel after refresh
  angular/src/app/modules/absence-day/absence-day.component.ts
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.css
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.html
Due: azure-pipelines-fe.yml

refactor loading icon and hiding panel after refresh
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.css
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
Due: azure-pipelines-fe.yml

refactor hiding panel after refresh
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.ts
Due: azure-pipelines-fe.yml

refactor loading icon
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
Due: azure-pipelines-fe.yml

Update UI for Employee tab in Branch Manager feature
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
Due: azure-pipelines-fe.yml

Add date range picker and improve Timesheet Management UI
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/shared/date-range-picker/date-range-picker.component.css
  angular/src/shared/date-range-picker/date-range-picker.component.html
  angular/src/shared/date-range-picker/date-range-picker.component.ts
  angular/src/shared/date-range-picker/enum/date-range-picker.enum.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe.yml

add bold markup when sending message to channel
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/MezonConstant.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
Due: azure-pipelines-be.yml

fix: limitet minutes
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat: Check Violations
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.module.ts
  angular/src/app/modules/off-day-project-for-user/violation-check/violation-check.component.css
  angular/src/app/modules/off-day-project-for-user/violation-check/violation-check.component.html
  angular/src/app/modules/off-day-project-for-user/violation-check/violation-check.component.ts
  angular/src/app/modules/off-day-project-for-user/violation-check/violation-check.module.ts
  angular/src/app/service/api/absence-request.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/GetRequestOffViolationResultDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix: rebuild FE
  angular/src/app/modules/off-day-project-for-user/violation-check/violation-check.component.ts
Due: azure-pipelines-fe.yml

fix: code logic
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

Refactor permissions, update frontend for "off violations" module
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project-for-user/violation-check/violation-check.component.css
  angular/src/app/modules/off-day-project-for-user/violation-check/violation-check.component.html
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Add date range picker for "Timesheet Monitoring" module
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.css
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
Due: azure-pipelines-fe.yml

Refactor Timesheet Management and Timesheet Supervisor Module
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.css
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
  angular/src/app/service/api/model/get-timesheets-input-dto.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/app/service/api/timesheets-supervisior.service.ts
  angular/src/shared/date-range-picker/date-range-picker.component.ts
  angular/src/shared/date-range-picker/enum/date-range-picker.enum.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Remove hardcode for "More Filters" menu, refactor opentalk type parameter
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
  angular/src/app/service/api/model/get-timesheets-input-dto.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/app/service/api/timesheets-supervisior.service.ts
Due: azure-pipelines-fe.yml
