Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

peformance code and remove unnecessary parts
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

commit code for comparing
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

Create a new, simpler method instead of using the existing old method.
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

Delete aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
Due: azure-pipelines-be.yml

Delete aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

fix: wrong data when get punishment data
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

add file publicappservice
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

refactor getAll and getQuantityTimesheetStatus in BE and add filter button on FE
  angular/package-lock.json
  angular/package.json
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/service/api/model/timesheet-Dto.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/shared/AppEnums.ts
  angular/src/shared/app-component-base.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/Entities/MyTimesheet.cs
  aspnet-core/src/Timesheet.Core/IoC/WorkScope.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

finish testing cases
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

finish testing cases
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Task completed
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/service/api/model/project-Dto.ts
  angular/src/app/service/api/timesheet.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix logic when user send morning off request (morning onsite request) and afternoon late request
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

separate bot report setting into daily project report setting and daily anomalies report setting
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/anomalies-report-setting.service.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/AnomaliesReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

refactor getAll and getQuantity functions
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/service/api/model/timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/Constants/ConstantUploadFile.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix logic on onsite requests and sending no tracker time for wfh
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

Fix header UX/UI
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheet/timesheet.component.html
Due: azure-pipelines-fe.yml

add wfh list to count mention punishment
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/Dto/GetDailyReportDto.cs
Due: azure-pipelines-be.yml

fix logic on sending half-day request and half-day working/off/onsite
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

refactor UX/UI in User Page
  angular/src/app/modules/user/user.component.css
  angular/src/bsb-theme/css/style.css
Due: azure-pipelines-fe.yml

refactor UX/UI for Roles Page
  angular/src/app/roles/roles.component.css
  angular/src/app/roles/roles.component.html
  angular/src/app/roles/roles.component.ts
Due: azure-pipelines-fe.yml

add padding in configuration page
  angular/src/app/configuration/configuration.component.css
  angular/src/app/roles/roles.component.html
Due: azure-pipelines-fe.yml

fix logic on sending half-day remote request and half-day working/on/off
  angular/src/app/configuration/configuration.component.html
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix: an user can fall into two anomalies cases
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

update logic and separate the bot
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/office-working-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/OfficeWorkingReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/OfficeWorkingReportSettingDto.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

refactor UX/UI for Admin Tab
  angular/src/app/modules/branchs/branchs.component.css
  angular/src/app/modules/branchs/branchs.component.html
  angular/src/app/modules/customer/customer.component.css
  angular/src/app/modules/manage-absence-types/manage-absence-types.component.css
  angular/src/app/modules/manage-absence-types/manage-absence-types.component.html
  angular/src/app/modules/overtime-setting/overtime-setting.component.css
  angular/src/app/modules/overtime-setting/overtime-setting.component.html
  angular/src/app/modules/position/position.component.css
  angular/src/app/modules/position/position.component.html
  angular/src/app/modules/punishment/punishment.component.css
  angular/src/app/modules/task/task.component.css
  angular/src/app/modules/task/task.component.html
  angular/src/app/modules/user/user.component.css
Due: azure-pipelines-fe.yml

update code test send notification when submit new working time
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
Due: azure-pipelines-be.yml

reslove conflict betwen Daily Anomalies Report and Office Working Report
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/service/api/anomalies-report-setting.service.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  angular/src/app/service/api/model/project-Dto.ts
  angular/src/app/service/api/model/timesheet-Dto.ts
  angular/src/app/service/api/timesheet.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/AnomaliesReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/Constants/ConstantUploadFile.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/Dto/GetDailyReportDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove comments
  angular/src/app/modules/manage-working-times/manage-working-times.component.html
  angular/src/app/modules/off-day-project-for-user/popup/popup.component.html
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.html
  angular/src/app/modules/report/interns-info/interns-info.component.html
  angular/src/app/modules/report/komu-tracker/komu-tracker.component.html
  angular/src/app/modules/review/review-report/review-report.component.html
Due: azure-pipelines-fe.yml

fix frontend on adding new user type "Vendor" and "Probation"
  angular/src/app/modules/project-manager/create-project/create-project.component.html
  angular/src/app/roles/edit-role/edit-role.component.html
Due: azure-pipelines-fe.yml

reslove conflict between different bot
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/office-working-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix usertype array index out of range exception
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml

update applying "send to hrm" feature to probation and vendor
  angular/src/app/modules/review/review-detail/review-detail.component.html
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

resolve conflicts on user types when synchronizing data from hrmv2 to timesheet
  aspnet-core/src/Timesheet.Core/DomainServices/UserServices.cs
Due: azure-pipelines-be.yml

fix bug and update click checkbox to delete complain
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/timekeeping.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add DeleteComplaintDto
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/RespondToComplaintDto.cs
Due: azure-pipelines-be.yml

update logic click checkbox to delete complain
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/timekeeping.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/RespondToComplaintDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update untick checkbox to delete complain
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/timekeeping.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/RespondToComplaintDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
