Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

hotfix/disburse-money = update status Remaining Money, update suggest disburse money
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/54628 = fix expand menu cannot scroll down, Sort items in Management
  angular/src/app/layout/sidebar-nav.component.html
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/bsb-theme/css/style.css
Due: azure-pipelines-fe.yml

bugfix/54628-dev2 = fix expand menu cannot scroll down, Sort items in Management
  angular/src/app/layout/sidebar-nav.component.html
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/bsb-theme/css/style.css
Due: azure-pipelines-fe.yml

bugfix/54629-dev2 = hide Admin and Management items with USER role
  angular/src/app/layout/sidebar-nav.component.ts
Due: azure-pipelines-fe.yml

feature/54622 = Improve team working calendar performance, update export data team working calendar
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/service/api/absence-request.service.ts
  angular/src/app/service/api/model/absence.dto.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/GetRequestDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Web.Host/wwwroot/template/ExportTeamWorkingCalender.xlsx
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54622 = update UI, update code duplicate
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/UI-TeamWorkingCalendar = update UI TeamWorkingCalendar
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
Due: azure-pipelines-fe.yml

hotfix/UI-TeamWorkingCalendar = update UX
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
Due: azure-pipelines-fe.yml

hotfix/suggest-disburse-money = fix suggest dirburse money, add loading team working calendar
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/edit-invoice-money/edit-invoice-money.component.html
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/54644 = fix bug log company activity selects the unasign but does not include opentalk
  aspnet-core/src/Timesheet.Application/APIs/NormalWorkingHours/NormalWorkingHourAppService.cs
Due: azure-pipelines-be.yml

feature/54524 = create api release user from project, update UI Manage off/ onsite details
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.css
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.html
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.ts
  angular/src/app/service/api/project-manager.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/suggest-disburse-money = refactor code
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/edit-invoice-money/edit-invoice-money.component.html
Due: azure-pipelines-fe.yml

bugfix/54644 = add unsignedTaskId variable
  aspnet-core/src/Timesheet.Application/APIs/NormalWorkingHours/NormalWorkingHourAppService.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
Due: azure-pipelines-be.yml

fix: get data checkin error
  aspnet-core/src/Timesheet.Core/Services/Tracker/TrackerService.cs
Due: azure-pipelines-be.yml

feature/54524 = update UI manage request off/ onsite/ remote detail
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.css
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.html
Due: azure-pipelines-fe.yml

feature/54646= Update review intern page
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
Due: azure-pipelines-fe.yml

feature/filter-DMVS = add filter DMVS in manage request off/ onsite/ remote
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

hotfix/update-logic-teambuilding = update logic teambuilding, update UI disburse money add filter DMVS
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.html
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.html
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/edit-invoice-money/edit-invoice-money.component.ts
  angular/src/app/modules/timesheet/timesheet.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
  aspnet-core/test/Timesheet.Application.Tests/API/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService_Test.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/update-logic-teambuilding = refactor code, update validate request teambuilding
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/update-logic-teambuilding = refactor code
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
Due: azure-pipelines-be.yml

bugfix/review-intern = update validate disburse khi save, headpm reject will not level up, validate aprove, When no record is selected, the other two buttons are hidden
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/test/Timesheet.Application.Tests/API/ReviewDetails/ReviewDetailAppService_Tests.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/review-intern = refactor code
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/teambuilding = update logic teambuilding
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.html
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
  aspnet-core/src/Timesheet.Core/Entities/TeamBuildingRequestHistoryFile.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54646= Update review intern page 2
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
Due: azure-pipelines-fe.yml

hotfix/teambuilding = add confirm deactive manage request off/ onsite
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.css
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.html
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.html
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54646 = hide button reset data
  angular/src/app/modules/team-building/team-building-hr/team-building-hr.component.html
Due: azure-pipelines-fe.yml

update-cicd-prod-fe
  .github/workflows/deploy_server_prod_fe.yml
Due: none

stg = update
  angular/src/app/configuration/configuration.component.html
  aspnet-core/src/Timesheet.Core/Entities/ReviewIntern.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update = update
  angular/src/app/configuration/configuration.component.html
  aspnet-core/src/Timesheet.Core/Entities/ReviewIntern.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/filter = fix when choosing February but keep jumping to March
  angular/src/app/modules/absence-day/absence-day.component.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.ts
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.ts
  angular/src/app/modules/off-day/off-day.component.ts
Due: azure-pipelines-fe.yml

hotfix/filter = fix pipeline
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

feature/54642 = BE/FE - Management/Branch Manager improvement
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectTaskDto.cs
  aspnet-core/src/Timesheet.Application/Users/Dto/PUDto.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/54838 = fix bug filter DMVS My off remote/off request
  angular/src/app/modules/absence-day/absence-day.component.ts
Due: azure-pipelines-fe.yml

bugfix/54838 = refactor code
  angular/src/app/modules/absence-day/absence-day.component.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

feature/54326 = [Unlock Timesheet] check the case log timesheet under 8 hours
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

hotfix/edit-review-intern = hot fix review intern
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54326 = update amount unlock to log timeshet, unlock aprrove timesheet
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

feature/54326 = revert code getMyTimesheetLockedAsync
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

hotfix/add-log-AddTimekeepingByDay
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
