Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

#225: add default filter opentalk - higher
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
Due: azure-pipelines-fe.yml

#264: fix User is null when filter by branch
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

#264: refactor opentalkTimeType string to boolean
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/app/service/api/timesheets-supervisior.service.ts
Due: azure-pipelines-fe.yml

fix filter bugs (not active)
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Order by InternshipId
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Check searchText whether null or not
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Use whereif for code compacting
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Improve UI for mytimesheet
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.scss
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheets.component.css
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
Due: azure-pipelines-fe.yml

57510 Review Intern > add row in reviewer column
  angular/src/app/modules/review/review-detail/review-detail.component.html
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

57500 Personal Timesheet > Team working calendar: improve responsive
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.css
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
Due: azure-pipelines-fe.yml

57512 Check-in not allow checkin when user has pending request DM/VS
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

#57499: integrate Mezon notify
  angular/src/app/configuration/configuration.component.html
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/project-manager/create-project/create-project.component.css
  angular/src/app/modules/project-manager/create-project/create-project.component.html
  angular/src/app/modules/project-manager/create-project/create-project.component.ts
  angular/src/app/service/api/model/project-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/ManageWorkingTimes/ManageWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/ProjectPMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/Dto/NotifyKomuTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyUserInfoDto.cs
  aspnet-core/src/Timesheet.Core/Entities/Project.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240828074031_add_notifyChannel_project.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240828074031_add_notifyChannel_project.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

reponsive my timesheet page
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.css
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.html
  angular/src/app/modules/mytimesheet/create-edit-timesheetByWeek/create-edit-timesheetByWeek.component.css
  angular/src/app/modules/mytimesheet/create-edit-timesheetByWeek/create-edit-timesheetByWeek.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.scss
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheets.component.css
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  angular/src/app/service/api/model/common-DTO.ts
Due: azure-pipelines-fe.yml

57533 improve responsive for calendar UIs: My off/remote page and Manage off/remote/onsite/requests_Responsive_UI error
  angular/src/app/modules/absence-day/absence-day.component.css
  angular/src/app/modules/absence-day/absence-day.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
Due: azure-pipelines-fe.yml

always allow unlock from ims
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

Responsive timesheet
  angular/src/app/modules/customer/create-edit-customer/create-edit-customer.component.css
  angular/src/app/modules/customer/create-edit-customer/create-edit-customer.component.html
  angular/src/app/modules/customer/customer.component.css
  angular/src/app/modules/customer/customer.component.html
  angular/src/app/modules/customer/customer.component.ts
  angular/src/app/modules/manage-absence-types/manage-absence-types-edit/manage-absence-types-create.component.css
  angular/src/app/modules/manage-absence-types/manage-absence-types-edit/manage-absence-types-create.component.html
  angular/src/app/modules/manage-absence-types/manage-absence-types.component.css
  angular/src/app/modules/manage-absence-types/manage-absence-types.component.html
  angular/src/app/modules/manage-absence-types/manage-absence-types.component.ts
  angular/src/app/modules/my-working-time/my-working-time.component.css
  angular/src/app/modules/my-working-time/my-working-time.component.html
  angular/src/app/modules/my-working-time/my-working-time.component.ts
  angular/src/app/modules/my-working-time/register-working-time/register-working-time.component.css
  angular/src/app/modules/my-working-time/register-working-time/register-working-time.component.html
  angular/src/app/modules/task/task-edit-customer/create-edit-task.component.css
  angular/src/app/modules/task/task-edit-customer/create-edit-task.component.html
  angular/src/app/modules/task/task.component.css
  angular/src/app/modules/task/task.component.html
  angular/src/app/modules/task/task.component.ts
Due: azure-pipelines-fe.yml

Delete aspnet-core/src/Timesheet.Web.Host/appsettings.json
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

Roll back appsettings
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

responsive
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.html
Due: azure-pipelines-fe.yml

responsive
  angular/src/app/modules/user/create-user/create-user.component.html
  angular/src/app/modules/user/update-user/update-user.component.html
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.ts
  angular/src/app/roles/roles.component.html
Due: azure-pipelines-fe.yml

Branch Manager: add column WFH, WAO
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.ts
  angular/src/app/modules/branch-manager/manage-employee/enum/sort-project-user-number.enum.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserCheckInDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Entities/Timekeeping.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240809022317_add_warningCheckInFromPersonalDevice_to_TimeKeeping_table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240809022317_add_warningCheckInFromPersonalDevice_to_TimeKeeping_table.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

spell fix
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

responsive review intern, team building project page
  angular/src/app/modules/mytimesheet/create-edit-timesheetByWeek/create-edit-timesheetByWeek.component.css
  angular/src/app/modules/report/interns-info/interns-info.component.css
  angular/src/app/modules/team-building/team-building-project/team-building-project.component.css
  angular/src/app/modules/team-building/team-building-project/team-building-project.component.html
  angular/src/app/modules/team-building/team-building-request/team-building-request.component.css
  angular/src/shared/date-selector-new/date-selector-new.component.css
  angular/src/shared/date-selector-new/date-selector-new.component.html
Due: azure-pipelines-fe.yml

responsive update
  angular/src/app/configuration/configuration.component.css
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.css
  angular/src/app/modules/mytimesheet/create-edit-timesheetByWeek/create-edit-timesheetByWeek.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.scss
  angular/src/app/modules/mytimesheet/mytimesheets.component.css
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.html
  angular/src/app/modules/user/user.component.ts
  angular/src/app/roles/create-role/create-role-dialog.component.html
  angular/src/app/roles/roles.component.ts
Due: azure-pipelines-fe.yml

Add Filter User status: active/deactive in Report -> Normal working
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/report/normal-working/normal-working.component.html
  angular/src/app/modules/report/normal-working/normal-working.component.ts
  angular/src/app/service/api/report.service.ts
  aspnet-core/src/Timesheet.Application/APIs/NormalWorkingHours/NormalWorkingHourAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

responsive configuration page
  angular/src/app/configuration/configuration.component.css
Due: azure-pipelines-fe.yml

responsive pm request page
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.css
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.html
  angular/src/app/modules/team-building/team-building-pm/team-building-pm.component.ts
Due: azure-pipelines-fe.yml

responsive pm request page
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.html
Due: azure-pipelines-fe.yml

update
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.scss
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheets.component.css
  angular/src/app/modules/team-building/team-building-pm/team-building-pm.component.css
  angular/src/app/modules/team-building/team-building-pm/team-building-pm.component.html
  angular/src/app/modules/team-building/team-building-project/team-building-project.component.css
  angular/src/app/modules/team-building/team-building-request/team-building-request.component.css
Due: azure-pipelines-fe.yml

update
  angular/src/app/modules/team-building/team-building-pm/team-building-pm.component.css
Due: azure-pipelines-fe.yml

Management > Team building > Request history _ Responsive
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.html
  angular/src/app/modules/team-building/team-building-request/edit-request/edit-request.component.html
  angular/src/app/modules/team-building/team-building-request/team-building-request.component.html
  angular/src/shared/add-user-other-project/add-user-other-project.component.html
Due: azure-pipelines-fe.yml

reponsive table building
  angular/src/app/modules/team-building/team-building-request/team-building-request.component.html
Due: azure-pipelines-fe.yml

57506 Optimize Review Intern: Get all intern info
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

fix bug reponsive erp timesheet
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/modules/background-jobs/background-jobs.component.css
  angular/src/app/modules/background-jobs/background-jobs.component.html
  angular/src/app/modules/my-working-time/register-working-time/register-working-time.component.css
  angular/src/app/modules/task/task.component.css
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.ts
  angular/src/app/roles/edit-role/edit-role.component.css
  angular/src/app/roles/edit-role/edit-role.component.html
Due: azure-pipelines-fe.yml

fix bug reponsive erp timesheet
  angular/src/app/modules/background-jobs/background-jobs.component.css
Due: azure-pipelines-fe.yml

57563 improve responsive for some page of admin and some page of management
  angular/src/app/layout/sidebar-footer.component.html
  angular/src/app/layout/sidebar-footer.component.ts
  angular/src/app/modules/absence-day/detail-request/detail-request.component.css
  angular/src/app/modules/capabilities/create-edit-capability-dialog/create-edit-capability-dialog.component.css
  angular/src/app/modules/capabilities/create-edit-capability-dialog/create-edit-capability-dialog.component.html
  angular/src/app/modules/capability-settings/capability-setting.component.css
  angular/src/app/modules/mytimesheet/mytimesheets.component.css
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/popup/popup.component.css
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.css
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/project-manager/create-project/create-project.component.css
  angular/src/app/modules/project-manager/create-project/create-project.component.html
  angular/src/app/modules/project-manager/create-project/create-project.component.ts
  angular/src/app/modules/project-manager/project-detail/project-detail.component.css
  angular/src/app/modules/project-manager/project-detail/project-detail.component.html
  angular/src/app/modules/project-manager/project-manager.component.html
  angular/src/app/modules/project-manager/project-manager.component.less
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.css
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/bsb-theme/css/style.css
  angular/src/bsb-theme/js/admin.js
Due: azure-pipelines-fe.yml

57563 improve responsive for some page of admin and some page of management
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.css
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.html
  angular/src/app/modules/project-manager/project-detail/project-detail.component.css
Due: azure-pipelines-fe.yml

remove auto submit timeshet at 0h on 1st of every month
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToTimeKeeping.cs
Due: azure-pipelines-be.yml
