Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

54642 : BE/FE - Management/Branch Manager improvement
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

54642 : Update UI
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

54642: fix small bug: invalid date in detail-participating-projects
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
Due: azure-pipelines-fe.yml

55148: In User Request site: Multi-select => Approve/Reject
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.css
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.html
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
  angular/src/app/service/api/absence-request.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

[Project Management] Chưa xử lý validate ở Teambuilding
  angular/src/app/modules/project-manager/create-project/create-project.component.html
Due: azure-pipelines-fe.yml

55114:Sai text trong Admin > Users > Basic Tranner
  angular/src/app/modules/user/user.component.html
Due: azure-pipelines-fe.yml

feat/55148:[Manage off/remote/onsite] Có thể click vào user + chọn nhiều ngày => Approve/Reject
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.css
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.html
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
  angular/src/app/service/api/absence-request.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

[Timesheet]Khi request ĐM/VS các khung giờ chẵn như 9h-10h-11h,15h,16h, thì ổ cột Register Time In/Out đã hiện thị lỗi
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml

54845: Teambuilding => new request => add filter ignore user is in Requested
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
Due: azure-pipelines-be.yml

55041:Incorrect penalty error display
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/SendMessageToUserServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

update feat/55148:[Manage off/remote/onsite] Có thể click vào user + chọn nhiều ngày => Approve/Reject
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.html
Due: azure-pipelines-fe.yml

update 55041:Incorrect penalty error display
  aspnet-core/src/Timesheet.Core/DomainServices/SendMessageToUserServices.cs
Due: azure-pipelines-be.yml

feature/54846
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/service/api/model/absence.dto.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/GetRequestDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54846
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
Due: azure-pipelines-fe.yml

feat/55041:Incorrect penalty error display
  aspnet-core/src/Timesheet.Core/DomainServices/SendMessageToUserServices.cs
Due: azure-pipelines-be.yml

Fix My off/remote/onsite requests
  angular/src/app/modules/absence-day/absence-day.component.ts
Due: azure-pipelines-fe.yml

Fix Manage Off/Onsite/Remote Requests
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

55048: Bug:hide users at fresher level even in reviewed month
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

55048: revert changes
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

54845: Teambuilding - Lỗi: báo chưa chọn employee sau khi add user
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.ts
Due: azure-pipelines-fe.yml

update feature/55148:[Manage off/remote/onsite] Có thể click vào user + chọn nhiều ngày => Approve/Reject
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.html
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.ts
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.css
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.html
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.ts
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.module.ts
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.css
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.html
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.module.ts
  angular/src/app/service/api/absence-request.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

refactoring customDate() method
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

refactoring code and fix: only display user in active project
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.css
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.html
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.spec.ts
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update ProjectAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
Due: azure-pipelines-be.yml

update feature/56005
  angular/src/app/modules/project-manager/create-project/create-project.component.html
  angular/src/app/modules/project-manager/create-project/create-project.component.ts
Due: azure-pipelines-fe.yml

56006:[Manage team working calendar] responsive for mobile
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
Due: azure-pipelines-fe.yml

[My off/remote/onsite request] Check case Request Onsite
  aspnet-core/src/Timesheet.Core/Uitls/RequestUtils.cs
Due: azure-pipelines-be.yml

Update login.service.ts
  angular/src/account/login/login.service.ts
Due: azure-pipelines-fe.yml

56085: bug UI: can't click anything
  angular/src/AppPreBootstrap.ts
Due: azure-pipelines-fe.yml

bug build: remove unuse tag, update UI
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.html
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.ts
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.html
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
Due: azure-pipelines-fe.yml

issues #190: do not close the popup after confirming the deactivation employee
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.ts
Due: azure-pipelines-fe.yml

Fix bug can't scroll down on mobile.
  angular/src/app/modules/off-day-project-for-user/popup/popup.component.css
Due: azure-pipelines-fe.yml

update my time sheet: add target user, time
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/Dto/GetTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update management > timesheet monitoring: add column target user and target time if user is shadow
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix can't scroll in off-day-project-detail
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.css
Due: azure-pipelines-fe.yml

timesheet monitoring:Edit Typo and name clear
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
Due: azure-pipelines-fe.yml

update format ui
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
Due: azure-pipelines-fe.yml

change projectCode -> projectName
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
Due: azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
