Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

add log to troubleshoot insert issue
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

feature/54844 + Manage team working calendar
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.css
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.html
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.ts
  angular/src/app/service/api/model/absence.dto.ts
  angular/src/app/service/api/project-manager.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/GetRequestDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
  aspnet-core/src/Timesheet.Core/Entities/ProjectUser.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240216084134_add-PreviousType-in-ProjectUsers.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240216084134_add-PreviousType-in-ProjectUsers.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/add-log-addTimekeepingByDay2 = update try catch
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

feature/54842 = update Report => Normal Working
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/report/normal-working/normal-working.component.html
  angular/src/app/modules/report/normal-working/normal-working.component.ts
  angular/src/app/service/api/report.service.ts
  aspnet-core/src/Timesheet.Application/APIs/NormalWorkingHours/NormalWorkingHourAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix: add log AddTimekeepingByDay() function
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

remove try catch in AddTimekeepingByDay()
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

add log AddTimekeepingByDay()
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

add try catch CheckAbsenceUserAsync()
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

add log userID = 51446
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

add log fail user
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

HRMv2AppService => API GetChamCongInfo => listSaturdayDateInMonth remove listSatuedaySettingOffInMonth
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
Due: azure-pipelines-be.yml

- HRMv2AppService_Test => Add unit test => GetAllSaturdaySettingOffInMonth_Test - DayOffAppService_Test => Fix unit test - Table => DayOffSetting => add data
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/test/Timesheet.Application.Tests/API/DayOffs/DayOffAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/HRMV2/HRMv2AppService_Test.cs
  aspnet-core/test/Timesheet.Application.Tests/Tables/dbo.DayOffSettings.xlsx
Due: azure-pipelines-be.yml

HRMv2AppService_Test => GetChamCongInfo_Test6
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/test/Timesheet.Application.Tests/API/DayOffs/DayOffAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/HRMV2/HRMv2AppService_Test.cs
  aspnet-core/test/Timesheet.Application.Tests/API/MyTimesheets/MyTimesheetsAppService_Test.cs
  aspnet-core/test/Timesheet.Application.Tests/Tables/dbo.DayOffSettings.xlsx
  aspnet-core/test/Timesheet.Application.Tests/Tables/dbo.MyTimesheets.xlsx
Due: azure-pipelines-be.yml

feature/54916 = Get data - handle case multiple requests off in day
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

resolve conflict
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

hotfix/resolve-conflic = resolve conflic
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

fix: generate data and remove log
  angular/src/app/modules/absence-day/absence-day.component.html
  angular/src/app/modules/absence-day/absence-day.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix: bug wrong flow
  angular/src/app/modules/absence-day/absence-day.component.html
  angular/src/app/modules/absence-day/absence-day.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/ITimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/show-button-reset-data = show button reset data team building
  angular/src/app/modules/team-building/team-building-hr/team-building-hr.component.html
Due: azure-pipelines-fe.yml

fix: case off fullday and isStopworking not punish
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

fix: bug daily komu send TS wrong
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

refactor: remove comment code
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

feat: view/update more info in my profile screen
  angular/src/app/modules/my-profile/my-profile.component.html
  angular/src/app/modules/my-profile/update-user-profile/update-user-profile.component.html
  angular/src/app/modules/my-profile/update-user-profile/update-user-profile.component.ts
  angular/src/app/service/api/model/my-profile-dto.ts
  aspnet-core/src/Timesheet.Core/Services/HRMv2/Dto/GetUserInfoByEmailDto.cs
  aspnet-core/src/Timesheet.Core/Services/HRMv2/Dto/UpdateUserInfoDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat: new WFH flow
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

#55050(Notify về discord khi PM Approve/Reject log timesheet của user) and tag User in Channel
  angular/src/app/modules/project-manager/create-project/create-project.component.html
  angular/src/app/service/api/model/project-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/ProjectPMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/Entities/Project.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240415072656_Add_prop_isNoticeKMApproveRejectTimesheet_in_table_project.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240415072656_Add_prop_isNoticeKMApproveRejectTimesheet_in_table_project.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

additional code
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyUserInfoDto.cs
Due: azure-pipelines-be.yml

fix code
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyUserInfoDto.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
Due: azure-pipelines-be.yml

fix code SendNotiToUser
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

additional code for SendNotiToUser
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

#55052([Timesheet] Notify đang không tag được user mà chỉ hiện Tên)
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyApproveRequestOffDto.cs
Due: azure-pipelines-be.yml

fix bug timeout call tracker
  aspnet-core/src/Timesheet.Core/Services/Tracker/TrackerService.cs
Due: azure-pipelines-be.yml

55325: GetUserWorkFromHome trả về thêm thông tin đầy đủ remote Sáng hoặc Chiều
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

55248 : [Team working calendar] Request thêm filter số ngày user đã đky remote trong 1 tuần
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/service/api/absence-request.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/GetRequestDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/InputRequestDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

55157 : Product Backlog Item 55157: [Manage off/remote/onsite request] Gộp cột Off Type vào cột Request -> ko bị scroll ngang
  angular/src/app/modules/off-day-project-for-user/popup/popup.component.html
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.html
Due: azure-pipelines-fe.yml

cập nhật code theo review
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

55052 : cập nhật tag user bằng username thay vì email
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyApproveTimesheetDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyRetroDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyReviewInternDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyUserInfoDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/SendMessageRequestPendingTeamBuildingToHRDto.cs
Due: azure-pipelines-be.yml

55157: thêm wrap text để không bị scroll ngang
  angular/src/app/modules/off-day-project-for-user/popup/popup.component.html
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.html
Due: azure-pipelines-fe.yml

55157 : không sửa bên team working calendar
  angular/src/app/modules/off-day-project-for-user/popup/popup.component.html
Due: azure-pipelines-fe.yml

55156: click bên ngoài dialog để đóng
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

55048 : Bug create Review Intern New Month => User được lên level Fresher tháng trước vẫn có trang danh sách Review intern tháng mới
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
