Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

update validation
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update frontend of office working report
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.css
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.spec.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
  angular/src/app/service/api/daily-employee-report.service.ts
Due: azure-pipelines-fe.yml

update frontend of project report
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.css
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.spec.ts
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
  angular/src/app/service/api/daily-project-report.service.ts
Due: azure-pipelines-fe.yml

update unit test
  aspnet-core/test/Timesheet.Application.Tests/API/ProjectManagement/ProjectManagementAppService_Test.cs
  aspnet-core/test/Timesheet.Tests/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

Remove commented lines from UserAppService_Tests
  aspnet-core/test/Timesheet.Tests/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

update frontend, remove string in ts component
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.spec.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
  angular/src/app/modules/branch-manager/daily-employee-report/enum/daily-employee-report.enum.ts
Due: azure-pipelines-fe.yml

fix backend using enum
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
Due: azure-pipelines-be.yml

update frontend using enums
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.spec.ts
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
  angular/src/app/modules/branch-manager/daily-project-report/enum/daily-project-report.enum.ts
Due: azure-pipelines-fe.yml

fix scroll viewport
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
Due: azure-pipelines-fe.yml

remove blank when using virtual scroll viewport
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
Due: azure-pipelines-fe.yml

remove month handle from use points
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/service/api/user-punishment-paid.service.ts
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/UserPunishmentPaidAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update logic
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/ITimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add cdk virtual scroll viewport
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
Due: azure-pipelines-fe.yml

remove redundacy code
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
Due: azure-pipelines-fe.yml

remove redundancy code
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
Due: azure-pipelines-fe.yml

fix scrollbar width
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.css
Due: azure-pipelines-fe.yml

fix scrollbar width
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.css
Due: azure-pipelines-fe.yml

peformance code
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

update deactive user logic
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

update logic deactive user
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

update logic for use points, return balance directly
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add unit test
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/Projects/ProjectAppServiceTest.cs
  aspnet-core/test/Timesheet.Tests/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

update and add unit test
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/Projects/ProjectAppServiceTest.cs
  aspnet-core/test/Timesheet.Tests/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

remove conflic
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

decrease query to table projectuser
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

fix bug cannot show records in timesheet management when user off full day
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

update unit test
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/Projects/ProjectAppServiceTest.cs
  aspnet-core/test/Timesheet.Tests/TimesheetTestModule.cs
  aspnet-core/test/Timesheet.Tests/Users/UserAppServiceTestBase.cs
  aspnet-core/test/Timesheet.Tests/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

Reduce the number of queries.
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

Change the approach so that instead of retrieving the user from the database for testing, you create one yourself.
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/Projects/ProjectAppServiceTest.cs
  aspnet-core/test/Timesheet.Tests/Users/UserAppServiceTestBase.cs
  aspnet-core/test/Timesheet.Tests/Users/UserAppService_Tests.cs
Due: azure-pipelines-be.yml

fix cannot show user's label on branch manager page
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
Due: azure-pipelines-fe.yml

send DM when PM approve/reject off/remote/onsite request for user
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/AbsenceDayDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update logic use 1 button to get data and retrieve
  angular/src/app/modules/report/tardiness-leave-early/selected-date/selected-date.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ITimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

create seperate function to send direct message
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

ignore isNoticeApproveRequestOffDate flag
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

rollback to the initial logic
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/AbsenceDayDetailDto.cs
Due: azure-pipelines-be.yml

update logic
  angular/src/app/modules/report/tardiness-leave-early/selected-date/selected-date.component.html
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update: allow user to work at office at least one day
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

move dict body to dto, use constant fe
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/report/tardiness-leave-early/selected-date/selected-date.component.html
  angular/src/app/modules/report/tardiness-leave-early/selected-date/selected-date.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserPunishmentSnapshotDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml
