Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

fix scroll table normal working mobile
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.scss
Due: azure-pipelines-fe.yml

Imporove UI Admin/user
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.html
Due: azure-pipelines-fe.yml

resolve ops ticket 57779: Branch Manager improvement
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/interface/project-type.interface.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.html
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  angular/src/app/service/api/manage-user-project-for-branch.service.ts
  angular/src/shared/pipes/projectTargetUser.pipe.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UpdateTypeOfUsersInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserStatisticInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/UpdateProjectUserEffortDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/ValueOfUserInProjectByUserIdDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/ValueOfUserInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
  aspnet-core/src/Timesheet.Core/Entities/ProjectUser.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20241002064129_ManageUserProjectForBranch_ProjectUser_AddEffortField.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20241002064129_ManageUserProjectForBranch_ProjectUser_AddEffortField.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Improve Admin/User UI
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.html
Due: azure-pipelines-fe.yml

Complete merge and fix ui
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.html
Due: azure-pipelines-fe.yml

maintenance linq query
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserStatisticInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml

fix 58067 Manager > Branch manager > order by member type
  angular/src/app/constant/api-config.constant.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/enum/sort-member-effort.enum.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

fix 58067 Manager > Branch manager > order by member type update ui
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
Due: azure-pipelines-fe.yml

fix 58067
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

update filter
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

fix Review Intern => These 2 btn change their names to: Head PM approve (4), Head PM reject (4)
  angular/src/app/modules/review/review-detail/review-detail.component.html
Due: azure-pipelines-fe.yml

Review Intern => Update Filter Reviewer , Review Intern can choose 0.5, 1, 1.5, 2, 2.5, ... star
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.html
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove-field-output-getDataforCheckpoint
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

update 58172, fix table
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

update display expose 58067
  angular/src/app/constant/api-config.constant.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.css
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.html
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.ts
Due: azure-pipelines-fe.yml

Improve Admin/User fix sticky table and remove btn prev next
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.html
Due: azure-pipelines-fe.yml

fix heading table gap
  angular/src/app/modules/user/user.component.css
Due: azure-pipelines-fe.yml

Management > Timesheet Management: improve responsive
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheet/timesheet.component.html
Due: azure-pipelines-fe.yml

58172 Branch Manager> improvement continue table view
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/enum/sort-member-effort.enum.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix Search and add debounce input for Management > Team building > Request history _ Responsive
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.html
  angular/src/app/modules/team-building/team-building-request/team-building-request.component.html
  angular/src/app/modules/team-building/team-building-request/team-building-request.component.ts
Due: azure-pipelines-fe.yml

update
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

Branch Manager> improvement fix UI
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

add_method_SyncRetroPointToCheckpoint
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/Dto/RetroResultDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
Due: azure-pipelines-be.yml

Add method sync retro point to checkpoint
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/Dto/RetroResultDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
Due: azure-pipelines-be.yml

Update
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
Due: azure-pipelines-be.yml

update
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
Due: azure-pipelines-be.yml

update_sync_retroPointToCheckpoint
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/Dto/RetroResultDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
Due: azure-pipelines-be.yml

58509 : Project Management=> Target User => Change Role Name: Account Name + Account
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.html
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.ts
  angular/src/app/modules/project-manager/create-project/create-project.component.html
  angular/src/app/modules/project-manager/create-project/create-project.component.ts
  angular/src/app/service/api/model/common-DTO.ts
  angular/src/app/service/api/model/project-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectIncludingTaskDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectTargetUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/GetUserDto.cs
  aspnet-core/src/Timesheet.Core/Entities/ProjectTargetUser.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20241106072011_AddIsActiveToProjectTargetUser.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20241106072011_AddIsActiveToProjectTargetUser.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

57537: custom time >Month default + 58545 My Timesheet > UI > Week
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/modules/timesheet/timesheet.component.html
Due: azure-pipelines-fe.yml

58681: TeamBuilding => store data in Minio
  aspnet-core/src/Timesheet.Application/APIs/HRM/HRMAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/ConstantMinIO.cs
  aspnet-core/src/Timesheet.Core/Constants/ConstantUploadFile.cs
  aspnet-core/src/Timesheet.Core/Timesheet.Core.csproj
  aspnet-core/src/Timesheet.Core/Uitls/FileUtils.cs
  aspnet-core/src/Timesheet.Core/Uitls/UrlUtils.cs
  aspnet-core/src/Timesheet.Core/UploadFilesService/MinIOService.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/Startup.cs
  aspnet-core/src/Timesheet.Web.Host/Timesheet.Web.Host.csproj
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

update api unlock to log, aprrove timesheet
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml

create api check user can check in
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

create API to support Mezon application calls
  aspnet-core/src/Timesheet.Application/APIs/Mezon/MezonAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/MyRequestDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

fix bug get my my timesheet
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

create api log timesheet week for mezon call
  aspnet-core/src/Timesheet.Application/APIs/Mezon/MezonAppService.cs
Due: azure-pipelines-be.yml

create api approve reject request absence day for mezon
  aspnet-core/src/Timesheet.Application/APIs/Mezon/Dto/RequestDayMezon.cs
  aspnet-core/src/Timesheet.Application/APIs/Mezon/MezonAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

add code security
  aspnet-core/src/Timesheet.Application/APIs/Mezon/MezonAppService.cs
Due: azure-pipelines-be.yml

Refactor code
  aspnet-core/src/Timesheet.Application/APIs/Mezon/MezonAppService.cs
Due: azure-pipelines-be.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
