Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

Refactor code
  aspnet-core/src/Timesheet.Application/APIs/Mezon/MezonAppService.cs
Due: azure-pipelines-be.yml

Normal Working - exclude filter checkin checkout for Sat
  angular/src/app/modules/report/normal-working/normal-working.component.ts
Due: azure-pipelines-fe.yml

Refactor code
  angular/src/app/modules/report/normal-working/normal-working.component.ts
Due: azure-pipelines-fe.yml

feat/notify-review-intern: notify review intern
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/configuration.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/NotifyHeadPMAndPresidentReviewInternConfigDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat/notify-review-intern: refactor code
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
Due: azure-pipelines-be.yml

update message notify review intern
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
Due: azure-pipelines-be.yml

form log timesheet add role name in target user field
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.html
  angular/src/app/service/api/model/common-DTO.ts
  angular/src/bsb-theme/css/style.css
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectIncludingTaskDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

show additional role name in manage timesheet
  angular/src/app/modules/timesheet/timesheet.component.html
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix cronjob notify pm review intern
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToTimeKeeping.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
Due: azure-pipelines-be.yml

update message review intern
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToTimeKeeping.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/Dto/KomuSendMessageToUserDto.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
Due: azure-pipelines-be.yml

refactor code
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
Due: azure-pipelines-be.yml

update funtion SendMessageReviewInternToUser and refactor code
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToTimeKeeping.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
Due: azure-pipelines-be.yml

update cronjob review intern
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/configuration.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToTimeKeeping.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/NotifyHeadPMAndPresidentReviewInternConfigDto.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/NotifyReviewInternConfigDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update payload send message to mezon
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
Due: azure-pipelines-be.yml

refactor code
  aspnet-core/src/Timesheet.Core/Constants/MezonConstant.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
Due: azure-pipelines-be.yml

Fix missing case when handling absence day requests
  aspnet-core/src/Timesheet.Core/Uitls/RequestUtils.cs
Due: azure-pipelines-be.yml

add api for command submit ts week
  aspnet-core/src/Timesheet.Application/APIs/Mezon/MezonAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

add function chooose time send message to pm, hpm, ceo
  angular/src/app/configuration/configuration.component.css
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToTimeKeeping.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BGWRITConfigDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyReviewInternDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/Helper/TimeHelper.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

refactor code
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToTimeKeeping.cs
Due: azure-pipelines-be.yml

refactor code
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
  aspnet-core/src/Timesheet.Core/Constants/CommonConstant.cs
  aspnet-core/src/Timesheet.Core/Helper/TimeHelper.cs
Due: azure-pipelines-be.yml

fix conflict
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
Due: azure-pipelines-be.yml

Add new user type vendor fe, be. Vendor type dont punish checkin, checkout.
  angular/src/app/modules/approve-absence-request/approve-absence-request.component.html
  angular/src/app/modules/approve-absence-request/approve-absence-request.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/capabilities/capability.component.ts
  angular/src/app/modules/manage-working-times/manage-working-times.component.html
  angular/src/app/modules/manage-working-times/manage-working-times.component.ts
  angular/src/app/modules/project-manager/create-project/create-project.component.html
  angular/src/app/modules/project-manager/create-project/create-project.component.ts
  angular/src/app/modules/report/normal-working/normal-working.component.ts
  angular/src/app/modules/retros/retro/retro-detail/create-edit-retro-detail/create-edit-retro-detail.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
  angular/src/app/modules/user/create-user/create-user.component.html
  angular/src/app/modules/user/update-user/update-user.component.html
  angular/src/app/modules/user/user.component.html
  angular/src/app/modules/user/user.component.ts
  angular/src/app/roles/edit-role/edit-role.component.html
  angular/src/app/roles/edit-role/edit-role.component.ts
  angular/src/app/service/api/model/retro-detail-dto.ts
  angular/src/shared/app-component-base.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/CreateUpdateByHRMV2Dto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/TimesheetUserDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

refactor code
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/CreateUpdateByHRMV2Dto.cs
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml

fix bug select all pending request of specific user
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
Due: azure-pipelines-fe.yml

fix async bug when update cronjob
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
Due: azure-pipelines-be.yml

feat/mezon-authenticate: implement login mezon
  angular/src/AppPreBootstrap.ts
  angular/src/account/account-routing.module.ts
  angular/src/account/account.module.ts
  angular/src/account/auth-callback/auth-callback.component.css
  angular/src/account/auth-callback/auth-callback.component.html
  angular/src/account/auth-callback/auth-callback.component.scss
  angular/src/account/auth-callback/auth-callback.component.spec.ts
  angular/src/account/auth-callback/auth-callback.component.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/app/service/api/mezon-api.service.ts
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/MezonServiceConfig.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/OAuth2Request.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/OAuth2TokenResponse.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/RefreshTokenRequest.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/UserInfoResponse.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
  aspnet-core/src/Timesheet.Web.Core/Controllers/Dto/TokenDto.cs
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat/mezon-authenticate: refactor code
  angular/src/account/auth-callback/auth-callback.component.scss
  angular/src/account/auth-callback/auth-callback.component.ts
Due: azure-pipelines-fe.yml

feat/mezon-authenticate: update pipeline
  .github/workflows/deploy_server_dev_fe.yml
  .github/workflows/deploy_server_prod_fe.yml
  .github/workflows/deploy_server_stg_fe.yml
Due: none

fix typo
  angular/src/account/login/login.component.html
Due: azure-pipelines-fe.yml

feat/implement-channel-app
  angular/angular.json
  angular/package.json
  angular/src/AppPreBootstrap.ts
  angular/src/account/account-routing.module.ts
  angular/src/account/account.component.ts
  angular/src/account/account.module.ts
  angular/src/account/login/login.component.html
  angular/src/account/login/login.component.less
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/account/mezon-hash/mezonhash-callback.component.css
  angular/src/account/mezon-hash/mezonhash-callback.component.html
  angular/src/account/mezon-hash/mezonhash-callback.component.spec.ts
  angular/src/account/mezon-hash/mezonhash-callback.component.ts
  angular/src/app/service/api/mezon-api.service.ts
  angular/src/app/service/api/mezon-webview-service.ts
  angular/src/assets/appconfig.json
  angular/src/assets/js/mezon-web-sdk.js
  angular/src/index.html
  angular/src/patches/abp.patch.js
  angular/src/shared/AppConsts.ts
  angular/src/shared/auth/app-auth.service.ts
  angular/src/shared/service-proxies/service-proxies.ts
  angular/src/shared/shared.module.ts
  angular/src/types/userTypes.ts
  angular/src/types/webview/constant.ts
  angular/src/types/webview/index.ts
  angular/src/types/webview/types.ts
  angular/src/types/webview/utils.ts
  angular/src/types/webview/webview.ts
Due: azure-pipelines-fe.yml

feat/implement-channel-app: add API hashmezon
  aspnet-core/src/Timesheet.Application/Authorization/Accounts/AccountAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Authorization/Users/MezonUser.cs
  aspnet-core/src/Timesheet.Core/Helper/Hasher.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/HashAuthDto.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/Seed/SeedHelper.cs
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
  aspnet-core/src/Timesheet.Web.Core/Timesheet.Web.Core.csproj
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
  aspnet-core/test/Timesheet.Tests/Timesheet.Tests.csproj
Due: azure-pipelines-be.yml

feat: Add API mezon app
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

feature/implement-channel-app: remove-redundancy
  angular/src/account/account.component.ts
  angular/src/account/login/login.component.ts
  angular/src/account/login/login.service.ts
  angular/src/account/mezon-hash/mezonhash-callback.component.ts
  angular/src/app/service/api/mezon-api.service.ts
  angular/src/app/service/api/mezon-webview-service.ts
  angular/src/shared/auth/app-auth.service.ts
Due: azure-pipelines-fe.yml

Fix commit mistake
  angular/package.json
  angular/src/account/login/login.component.ts
  angular/src/assets/appconfig.json
  angular/src/patches/abp.patch.js
Due: azure-pipelines-fe.yml

remove login.component.less
  angular/src/account/login/login.component.less
Due: azure-pipelines-fe.yml

remove script dev in local
  angular/package.json
Due: azure-pipelines-fe.yml

feat fetch API
  angular/src/account/login/login.service.ts
Due: azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
