Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

Feature/53188 + Add cron job to create new retro and generate data, Add permission for new feature (#49)
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/configuration.service.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataRetroWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/RetroAddDataConfigDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/53202 = update 9/11/2023
  angular/src/app/service/api/team-building-pm.service.ts
Due: azure-pipelines-fe.yml

bugfix/53202 = [Teambuilding] update valid image (#50)
  angular/src/app/service/api/team-building-pm.service.ts
Due: azure-pipelines-fe.yml

bugfix/53248 = fix bug request teambuilding money when user in project not active
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
Due: azure-pipelines-be.yml

hotfix/unlockTimesheet-git hot fix unlock timesheet error
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

update comment
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

bugfix/53202 = fix bug error view detail image
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.ts
Due: azure-pipelines-fe.yml

bugfix/53536 fix bug after improve retro
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.ts
  angular/src/app/service/api/retro-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/Dto/InputGetUserOtherProjectDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/53229 = update 16/11/2023
  angular/package-lock.json
  angular/package.json
  angular/src/app/app.module.ts
  angular/src/app/layout/sidebar-nav.component.html
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/absence-day/show-detail-dialog/show-detail-dialog.component.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.ts
  angular/src/app/modules/off-day/off-day.component.ts
  angular/src/root.module.ts
  angular/src/shared/layout/menu-item.ts
Due: azure-pipelines-fe.yml

bugfix/53229 update pr fix improve menu
  angular/src/app/layout/sidebar-nav.component.html
  angular/src/app/layout/sidebar-nav.component.ts
Due: azure-pipelines-fe.yml

bugfix/53229 edit update version
  angular/package.json
Due: azure-pipelines-fe.yml

Bugfix/53229 save status after reload page (#56)
  angular/package-lock.json
  angular/package.json
  angular/src/app/app.module.ts
  angular/src/app/layout/sidebar-nav.component.html
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/absence-day/show-detail-dialog/show-detail-dialog.component.ts
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.ts
  angular/src/app/modules/off-day/off-day.component.ts
  angular/src/root.module.ts
  angular/src/shared/layout/menu-item.ts
Due: azure-pipelines-fe.yml

feature/deploy-stg
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml

feature/deploy-stg
  angular/src/app/layout/sidebar-nav.component.ts
Due: azure-pipelines-fe.yml

feature/54207 = khi CEO reject thì level không thay đổi, send mail aprrove/ reject
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
Due: azure-pipelines-be.yml

feature/54207 = update message
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
Due: azure-pipelines-be.yml

Feature/54207 = khi CEO reject thì level không thay đổi, send mail aprrove/ reject (#60)
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
Due: azure-pipelines-be.yml

feature/54224 + add column ReviewInternNoteType in ReviewInternPrivateNote table
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/Entities/ReviewInternPrivateNote.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20231121023932_ReviewInternPrivateNote_Add-Column_ReviewInternNoteType.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20231121023932_ReviewInternPrivateNote_Add-Column_ReviewInternNoteType.cs
Due: azure-pipelines-be.yml

feature/54209 = bỏ hr verify, thêm interview note và PM note
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/review/review-detail/create-interview-note/create-interview-note.component.css
  angular/src/app/modules/review/review-detail/create-interview-note/create-interview-note.component.html
  angular/src/app/modules/review/review-detail/create-interview-note/create-interview-note.component.spec.ts
  angular/src/app/modules/review/review-detail/create-interview-note/create-interview-note.component.ts
  angular/src/app/modules/review/review-detail/create-pm-note/create-pm-note.component.css
  angular/src/app/modules/review/review-detail/create-pm-note/create-pm-note.component.html
  angular/src/app/modules/review/review-detail/create-pm-note/create-pm-note.component.spec.ts
  angular/src/app/modules/review/review-detail/create-pm-note/create-pm-note.component.ts
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.html
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.ts
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  angular/src/app/modules/review/review-detail/review-detail.module.ts
  angular/src/app/service/api/review-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54208 = thêm cột số tháng chưa lên level, sort theo số tháng
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  angular/src/app/service/api/review-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/Dto/InternshipMaxLevelMonthsDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54187 get reviewer info history to Project tool
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/54210 + thêm checkbox HeadPM, thêm button verify all, reject all
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  angular/src/app/service/api/review-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/53154 improve teambuilding and change business VAT money
  angular/src/app/modules/team-building/const/const.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.html
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/edit-invoice-money/edit-invoice-money.component.html
  angular/src/app/modules/team-building/team-building-request/disburse-request/edit-invoice-money/edit-invoice-money.component.spec.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/edit-invoice-money/edit-invoice-money.component.ts
  angular/src/app/modules/team-building/team-building-request/team-building-request.component.css
  angular/src/app/modules/team-building/team-building-request/team-building-request.component.html
  angular/src/app/modules/team-building/team-building-request/team-building-request.component.ts
  angular/src/app/modules/team-building/team-building-request/team-building-request.module.ts
  angular/src/app/service/api/team-building-request.service.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/dto/EditOneInvoiceDto.cs
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/dto/TeamBuildingRequestHistoryDto.cs
  aspnet-core/src/Timesheet.Core/Entities/TeamBuildingRequestHistory.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20231123083811_TeamBuildingRequestHistory_Add_Column_VATMoney.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20231123083811_TeamBuildingRequestHistory_Add_Column_VATMoney.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/signalR-git fix bug call get data trakerService timeout
  aspnet-core/src/Timesheet.Core/Services/Tracker/TrackerService.cs
Due: azure-pipelines-be.yml

feature/53154 add vaild disburse money > 0
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
Due: azure-pipelines-be.yml

feature/54268 add search by Pm and sort by Pm
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
  angular/src/app/service/api/model/retro-detail-dto.ts
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/Dto/RetroResultDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54253 + [Teambuilding] reset teambuilding cronjob and button
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/team-building/team-building-hr/team-building-hr.component.html
  angular/src/app/modules/team-building/team-building-hr/team-building-hr.component.ts
  angular/src/app/service/api/configuration.service.ts
  angular/src/app/service/api/team-building-hr.service.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetails/TeamBuildingDetailsAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/ResetDataTeamBuildingWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/ResetDataTeamBuildingConfigDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54254 = Đi onsite vẫn cần checkin checkout
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

feature/54254 = update case onsite morning, off afternoon
  angular/src/app/modules/absence-day/absence-day.component.ts
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Uitls/RequestUtils.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54210 = update 19/12/2023
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54210 = update 19/12/2023
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
Due: azure-pipelines-fe.yml

feature/54210 = update check permissions
  angular/src/app/modules/review/review-detail/review-detail.component.html
Due: azure-pipelines-fe.yml

feature/54210 = update 19/12/2023
  angular/src/app/modules/review/review-detail/review-detail.component.html
Due: azure-pipelines-fe.yml

feature/54210 + thêm checkbox HeadPM, thêm button verify all, reject all (#64)
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  angular/src/app/service/api/review-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54266 refactor code 19/12/2023
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/Users/Dto/PUDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/GenerateDataTeamBuildingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54331 = update code mới lên github
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/user/export-data-check-point/export-data-check-point/export-data-check-point.component.css
  angular/src/app/modules/user/export-data-check-point/export-data-check-point/export-data-check-point.component.html
  angular/src/app/modules/user/export-data-check-point/export-data-check-point/export-data-check-point.component.spec.ts
  angular/src/app/modules/user/export-data-check-point/export-data-check-point/export-data-check-point.component.ts
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.html
  angular/src/app/modules/user/user.component.ts
  angular/src/app/modules/user/user.module.ts
  angular/src/app/service/api/model/time-checkpoint-dto.ts
  angular/src/app/service/api/user.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
  aspnet-core/src/Timesheet.Application/Users/Dto/DataCheckPointDto.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Services/Tracker/TrackerService.cs
  aspnet-core/src/Timesheet.Web.Host/wwwroot/template/ExportDataCheckPoint.xlsx
  aspnet-core/test/Timesheet.Application.Tests/API/Public/PublicAppService_Tests.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54187 = update projectName
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/54187 = update 20/12/2023
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

Feature/54209 = bỏ HR verify, không require private note, thêm interview note, update column 24/11/2023 (#65)
  angular/src/app/constant/permission.constant.ts
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/review/review-detail/create-interview-note/create-interview-note.component.css
  angular/src/app/modules/review/review-detail/create-interview-note/create-interview-note.component.html
  angular/src/app/modules/review/review-detail/create-interview-note/create-interview-note.component.spec.ts
  angular/src/app/modules/review/review-detail/create-interview-note/create-interview-note.component.ts
  angular/src/app/modules/review/review-detail/create-pm-note/create-pm-note.component.css
  angular/src/app/modules/review/review-detail/create-pm-note/create-pm-note.component.html
  angular/src/app/modules/review/review-detail/create-pm-note/create-pm-note.component.spec.ts
  angular/src/app/modules/review/review-detail/create-pm-note/create-pm-note.component.ts
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.html
  angular/src/app/modules/review/review-detail/new-review-internship/new-review-internship.component.ts
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  angular/src/app/modules/review/review-detail/review-detail.module.ts
  angular/src/app/service/api/review-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewInternPrivateNoteDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml
