Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

remove unecessary code
  angular/src/account/account-routing.module.ts
  angular/src/shared/service-proxies/service-proxies.ts
Due: azure-pipelines-fe.yml

feat:refactor code
  angular/src/account/account-routing.module.ts
  angular/src/account/account.component.ts
  angular/src/account/account.module.ts
  angular/src/account/login/login.service.ts
  angular/src/account/mezon-hash/mezonhash-callback.component.css
  angular/src/account/mezon-hash/mezonhash-callback.component.html
  angular/src/account/mezon-hash/mezonhash-callback.component.spec.ts
  angular/src/account/mezon-hash/mezonhash-callback.component.ts
Due: azure-pipelines-fe.yml

bugfix: fix login fail with other display name format
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
Due: azure-pipelines-be.yml

feat/update-email-review-intern: update email review intern
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyReviewInternWorker.cs
Due: azure-pipelines-be.yml

Get opentalk jointime by mezonid/emailaddress
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MezonSetting/MezonSetting.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToOpenTalk.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/OpenTalkListDto.cs
Due: azure-pipelines-be.yml

Update notification interval to 30 minutes during working hours
  aspnet-core/src/Timesheet.Application/BackgroundWorker/NotifyApproveRequestOffWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ApproveRequestOffServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyApproveRequestOffDto.cs
Due: azure-pipelines-be.yml

feat/absence-report
  angular/package-lock.json
  angular/package.json
  angular/src/app/home/home.component.html
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/main-routing.module.ts
  angular/src/app/modules/main.module.ts
  angular/src/app/modules/report/absence/absence-routing.module.ts
  angular/src/app/modules/report/absence/absence.component.css
  angular/src/app/modules/report/absence/absence.component.html
  angular/src/app/modules/report/absence/absence.component.spec.ts
  angular/src/app/modules/report/absence/absence.component.ts
  angular/src/app/modules/report/absence/absence.module.ts
  angular/src/app/service/api/absence-day.service.ts
  angular/src/app/service/api/model/absence-day-dto.ts
  angular/src/app/service/api/position.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Positions/PositionAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/AbsenceReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/AbsenceResultDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/InputAbsenceReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/InputRequestDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update feat/absence-report
  angular/src/app/modules/report/absence/absence.component.ts
Due: azure-pipelines-fe.yml

adjust action button row and hide date range info if day range is selected
  angular/src/app/modules/report/absence/absence.component.css
  angular/src/app/modules/report/absence/absence.component.html
Due: azure-pipelines-fe.yml

feat: implement absence report
  angular/src/app/modules/report/absence/absence.component.css
  angular/src/app/modules/report/absence/absence.component.html
Due: azure-pipelines-fe.yml

pick commit from feat/absence-report
  angular/package-lock.json
  angular/package.json
  angular/src/app/home/home.component.html
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/main-routing.module.ts
  angular/src/app/modules/main.module.ts
  angular/src/app/modules/report/absence/absence-routing.module.ts
  angular/src/app/modules/report/absence/absence.component.css
  angular/src/app/modules/report/absence/absence.component.html
  angular/src/app/modules/report/absence/absence.component.spec.ts
  angular/src/app/modules/report/absence/absence.component.ts
  angular/src/app/modules/report/absence/absence.module.ts
  angular/src/app/service/api/absence-day.service.ts
  angular/src/app/service/api/model/absence-day-dto.ts
  angular/src/app/service/api/position.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Positions/PositionAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/AbsenceReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/AbsenceResultDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/InputAbsenceReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/InputRequestDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update notification interval to 30 minutes during working hours 2
  aspnet-core/src/Timesheet.Core/DomainServices/ApproveRequestOffServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyApproveRequestOffDto.cs
Due: azure-pipelines-be.yml

discard changes in package.json file
  angular/package-lock.json
Due: azure-pipelines-fe.yml

clean code feature: absence report
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/report/absence/absence.component.html
  angular/src/app/modules/report/absence/absence.component.ts
  angular/src/app/service/api/position.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

move absence report component to branch manager module
  angular/src/app/home/home.component.html
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/branch-manager/absence/absence-routing.module.ts
  angular/src/app/modules/branch-manager/absence/absence.component.css
  angular/src/app/modules/branch-manager/absence/absence.component.html
  angular/src/app/modules/branch-manager/absence/absence.component.spec.ts
  angular/src/app/modules/branch-manager/absence/absence.component.ts
  angular/src/app/modules/branch-manager/absence/absence.module.ts
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/main-routing.module.ts
  angular/src/app/modules/main.module.ts
Due: azure-pipelines-fe.yml

Update notification interval to 30 minutes during working hours 3
  aspnet-core/src/Timesheet.Core/DomainServices/ApproveRequestOffServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/WorkingTimeDTO.cs
Due: azure-pipelines-be.yml

change absence view type contance and fix absence component declare in 2 places
  angular/src/app/modules/branch-manager/absence/absence.component.html
  angular/src/app/modules/branch-manager/absence/absence.component.ts
  angular/src/app/modules/branch-manager/absence/absence.module.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
Due: azure-pipelines-fe.yml

fix responsive UI bug and improve UI
  angular/src/app/modules/branch-manager/absence/absence.component.css
  angular/src/app/modules/branch-manager/absence/absence.component.html
Due: azure-pipelines-fe.yml

improve responsive UI and fix pagination bug
  angular/src/app/modules/branch-manager/absence/absence.component.css
  angular/src/app/modules/branch-manager/absence/absence.component.html
  angular/src/app/modules/branch-manager/absence/absence.component.ts
Due: azure-pipelines-fe.yml

Remove normal working time check for OT timesheet logging
  aspnet-core/src/Timesheet.Application/APIs/Mezon/MezonAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

Remove normal working time check for OT timesheet logging2
  aspnet-core/src/Timesheet.Application/APIs/Mezon/MezonAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

feat: default Open Talk = 1h and allow edit workingTime
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.html
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat: default Open Talk = 4h and allow edit workingTime
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.ts
Due: azure-pipelines-fe.yml

feat: default Open Talk = 4h and allow edit workingTime
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

feat: default Open Talk = 4h and allow edit workingTime final
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

feat: default Open Talk = 4h and allow edit workingTime , if user enter working hours =0,working hours =4
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

set default Open Talk to 4h, allow editing working time, and validate input > 0
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

feat: remove validate log OT and editable opentalk time
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.html
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Fix date format for getAllOpentalkTime and createOpentalkLog
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MezonSetting/MezonSetting.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/IMezonService.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
  aspnet-core/src/Timesheet.Migrator/appsettings.json
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

fix: get time opentalk
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MezonSetting/MezonSetting.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToOpenTalk.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/OpenTalkListDto.cs
Due: azure-pipelines-be.yml

feat: add MezonId field to user create/update forms and DTOs
  angular/src/app/modules/user/create-user/create-user.component.html
  angular/src/app/modules/user/create-user/create-user.component.ts
  angular/src/app/modules/user/update-user/update-user.component.html
  angular/src/app/modules/user/update-user/update-user.component.ts
  aspnet-core/src/Timesheet.Core/Authorization/Users/User.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/CreateUserDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/add MezonId field, DTOs and update create/update forms
  angular/src/app/modules/user/create-user/create-user.component.html
  angular/src/app/modules/user/create-user/create-user.component.ts
  angular/src/app/modules/user/update-user/update-user.component.html
  angular/src/app/modules/user/update-user/update-user.component.ts
  aspnet-core/src/Timesheet.Core/Authorization/Users/User.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/CreateUserDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat: login with mezonId
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/UserInfoResponse.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250604104649_add_mezonId_to_user_table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250604104649_add_mezonId_to_user_table.cs
Due: azure-pipelines-be.yml

Merge branch 'feature/add-mezon-id-field' of https://github.com/ncc-erp/ncc-erp-timesheet into stg
  angular/src/app/modules/user/create-user/create-user.component.html
  angular/src/app/modules/user/create-user/create-user.component.ts
  angular/src/app/modules/user/update-user/update-user.component.html
  angular/src/app/modules/user/update-user/update-user.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Authorization/Users/User.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/CreateUserDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserDto.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/UserInfoResponse.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250606020945_AddMezonUserId.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250606020945_AddMezonUserId.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
