Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

use dtos, revert into old variables
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
  angular/src/app/service/api/model/get-timesheets-input-dto.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/app/service/api/timesheets-supervisior.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/GetTimesheetsInputDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove duplicate code
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserServices.cs
Due: azure-pipelines-be.yml

add a message to notify that the user has been deactivated from the project when editing the timesheet
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.html
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.ts
Due: azure-pipelines-fe.yml

feat: Update new UI for checkin punishment table
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
Due: azure-pipelines-fe.yml

fix: Update missing function
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
Due: azure-pipelines-fe.yml

feat: Update UI and optimize loading
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.css
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.html
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.css
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.css
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
Due: azure-pipelines-fe.yml

fix: Build failed in stg
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
Due: azure-pipelines-fe.yml

feat: Update UI Users
  angular/src/app/layout/sidebar/sidebar-footer/sidebar-footer.component.css
  angular/src/app/layout/sidebar/sidebar-nav/sidebar-nav.component.css
  angular/src/app/layout/topbar/topbar.component.css
  angular/src/app/modules/user/create-user/create-user.component.css
  angular/src/app/modules/user/create-user/create-user.component.html
  angular/src/app/modules/user/export-data-check-point/export-data-check-point/export-data-check-point.component.html
  angular/src/app/modules/user/import-user-working-time/import-user-working-time.component.css
  angular/src/app/modules/user/import-user-working-time/import-user-working-time.component.html
  angular/src/app/modules/user/update-user/update-user.component.css
  angular/src/app/modules/user/update-user/update-user.component.html
  angular/src/app/modules/user/update-user/update-user.component.ts
  angular/src/app/modules/user/upload-avatar/upload-avatar.component.css
  angular/src/app/modules/user/upload-avatar/upload-avatar.component.html
  angular/src/app/modules/user/user.component.css
  angular/src/app/modules/user/user.component.html
  angular/src/app/modules/user/user.component.ts
  angular/src/app/users/users.component.html
  angular/src/app/users/users.component.ts
  angular/src/bsb-theme/css/style.css
  angular/src/bsb-theme/css/themes/all-themes.css
  angular/src/shared/core.less
  angular/src/shared/pagination-bar/pagination-bar.component.css
Due: azure-pipelines-fe.yml

update backend pagination
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

update dynamic sort
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
Due: azure-pipelines-be.yml

use searchText from GridParam
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
Due: azure-pipelines-be.yml

refactor: Update UI, adding pagination for table
  angular/src/app/modules/branch-manager/Dto/anomalies-report-dto.ts
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.css
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.html
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/enum/anomalies-report.enum.ts
  angular/src/app/modules/branch-manager/branch-manager.component.css
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.css
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
  angular/src/app/modules/branch-manager/daily-employee-report/enum/daily-employee-report.enum.ts
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.css
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
  angular/src/app/modules/branch-manager/daily-project-report/enum/daily-project-report.enum.ts
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.css
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.html
  angular/src/app/service/api/anomalies-report.service.ts
  angular/src/app/service/api/daily-employee-report.service.ts
  angular/src/app/service/api/daily-project-report.service.ts
Due: azure-pipelines-fe.yml

fix: Fix building failed
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
Due: azure-pipelines-fe.yml

update frontend for remote blacklist module
  angular/src/app/constant/permission.constant.ts
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/main-routing.module.ts
  angular/src/app/modules/remote-blacklist/add-user-to-remote-blacklist-dialog/add-user-to-remote-blacklist-dialog.component.css
  angular/src/app/modules/remote-blacklist/add-user-to-remote-blacklist-dialog/add-user-to-remote-blacklist-dialog.component.html
  angular/src/app/modules/remote-blacklist/add-user-to-remote-blacklist-dialog/add-user-to-remote-blacklist-dialog.component.ts
  angular/src/app/modules/remote-blacklist/import-csv-dialog/import-csv-dialog.component.css
  angular/src/app/modules/remote-blacklist/import-csv-dialog/import-csv-dialog.component.html
  angular/src/app/modules/remote-blacklist/import-csv-dialog/import-csv-dialog.component.ts
  angular/src/app/modules/remote-blacklist/remote-blacklist-routing.module.ts
  angular/src/app/modules/remote-blacklist/remote-blacklist.component.css
  angular/src/app/modules/remote-blacklist/remote-blacklist.component.html
  angular/src/app/modules/remote-blacklist/remote-blacklist.component.ts
  angular/src/app/modules/remote-blacklist/remote-blacklist.module.ts
  angular/src/app/service/api/model/remote-blacklist.dto.ts
  angular/src/app/service/api/remote-blacklist.service.ts
Due: azure-pipelines-fe.yml

update backend for remote blacklist module
  aspnet-core/src/Timesheet.Application/APIs/RemoteBlacklists/RemoteBlacklistAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/RemoteBlacklistDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IRemoteBlacklistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/RemoteBlacklistServices.cs
  aspnet-core/src/Timesheet.Core/Entities/RemoteBlacklist.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20260206091329_Add_RemoteBlacklist_Table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20260206091329_Add_RemoteBlacklist_Table.cs
  aspnet-core/src/Timesheet.Web.Host/wwwroot/template/TemplateImportRemoteBlacklist.xlsx
Due: azure-pipelines-be.yml

apply sort and search logic on frontend
  angular/src/app/modules/remote-blacklist/add-user-to-remote-blacklist-dialog/add-user-to-remote-blacklist-dialog.component.ts
  angular/src/app/modules/remote-blacklist/enum/remote-blacklist.enum.ts
  angular/src/app/modules/remote-blacklist/import-csv-dialog/import-csv-dialog.component.ts
  angular/src/app/modules/remote-blacklist/remote-blacklist.component.html
  angular/src/app/modules/remote-blacklist/remote-blacklist.component.ts
  angular/src/app/service/api/model/remote-blacklist.dto.ts
  angular/src/app/service/api/remote-blacklist.service.ts
Due: azure-pipelines-fe.yml

show exception on frontend, rename functions
  aspnet-core/src/Timesheet.Application/APIs/RemoteBlacklists/RemoteBlacklistAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/RemoteBlacklistDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IRemoteBlacklistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/RemoteBlacklistServices.cs
Due: azure-pipelines-be.yml

add epplus library
  aspnet-core/src/Timesheet.Core/Timesheet.Core.csproj
Due: azure-pipelines-be.yml

change logic when updating user in blacklist
  angular/src/app/modules/remote-blacklist/remote-blacklist.component.html
  aspnet-core/src/Timesheet.Core/DomainServices/RemoteBlacklistServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

change logic when updating user in blacklist
  angular/src/app/modules/remote-blacklist/add-user-to-remote-blacklist-dialog/add-user-to-remote-blacklist-dialog.component.html
  angular/src/app/modules/remote-blacklist/import-csv-dialog/import-csv-dialog.component.html
  angular/src/app/modules/remote-blacklist/remote-blacklist.component.html
  aspnet-core/src/Timesheet.Core/DomainServices/RemoteBlacklistServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat: Update new UI for Roles page
  angular/src/app/layout/sidebar/sidebar-nav/sidebar-nav.component.css
  angular/src/app/modules/user/role-user/role-user.component.css
  angular/src/app/modules/user/role-user/role-user.component.html
  angular/src/app/modules/user/role-user/role-user.component.ts
  angular/src/app/modules/user/user.component.css
  angular/src/app/roles/edit-role/edit-role.component.css
  angular/src/app/roles/roles.component.css
  angular/src/app/roles/roles.component.html
  angular/src/shared/core.less
Due: azure-pipelines-fe.yml

add messages for rejected remote requests
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update code by adding property into dto
  angular/src/app/modules/absence-day/submit-absense-day/submit-absense-day.component.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/Dto/AbsenceDayDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update error content
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

fix: Update button, Update mobile UI
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.scss
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheets.component.css
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
Due: azure-pipelines-fe.yml

Feat: Update filter
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.ts
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

feat: Update configuration UI
  angular/src/app/app.module.ts
  angular/src/app/configuration/configuration.component.css
  angular/src/app/configuration/configuration.component.html
  angular/src/app/layout/sidebar/sidebar-right/right-sidebar.component.ts
  angular/src/app/layout/topbar/theme-selector/theme-selector.component.ts
Due: azure-pipelines-fe.yml

fix: remove comment
  angular/src/app/app.module.ts
  angular/src/app/configuration/configuration.component.css
Due: azure-pipelines-fe.yml

Fix: Add protect for API Get user info
  angular/src/app/service/api/my-profile.service.ts
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat: Update UI Client
  angular/src/app/configuration/configuration.component.html
  angular/src/app/modules/customer/create-edit-customer/create-edit-customer.component.css
  angular/src/app/modules/customer/create-edit-customer/create-edit-customer.component.html
  angular/src/app/modules/customer/customer.component.css
  angular/src/app/modules/customer/customer.component.html
  angular/src/shared/core.less
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe.yml

add initial logic of tracker whitelist
  angular/src/app/constant/permission.constant.ts
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/main-routing.module.ts
  angular/src/app/modules/tracker-whitelist/tracker-whitelist-routing.module.ts
  angular/src/app/modules/tracker-whitelist/tracker-whitelist.component.css
  angular/src/app/modules/tracker-whitelist/tracker-whitelist.component.html
  angular/src/app/modules/tracker-whitelist/tracker-whitelist.component.ts
  angular/src/app/modules/tracker-whitelist/tracker-whitelist.module.ts
  angular/src/app/service/api/model/tracker-whitelist.dto.ts
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update email templates and mentions for review intern feature
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/Dto/ReviewDataDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml

initially optimize backend of three reports
  angular/src/app/configuration/configuration.component.html
  angular/src/app/modules/branch-manager/Dto/anomalies-report-dto.ts
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.html
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
  angular/src/app/modules/branch-manager/daily-employee-report/enum/daily-employee-report.enum.ts
  angular/src/app/modules/branch-manager/daily-project-report/enum/daily-project-report.enum.ts
  angular/src/app/service/api/anomalies-report.service.ts
  angular/src/app/service/api/daily-employee-report.service.ts
  angular/src/app/service/api/daily-project-report.service.ts
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/ReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IOfficeWorkingReportServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/OfficeWorkingReportServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add frontend of whitelist system and user whitelist features
  angular/src/app/constant/permission.constant.ts
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/main-routing.module.ts
  angular/src/app/modules/user-whitelist/add-edit-user-whitelist/add-edit-user-whitelist.component.css
  angular/src/app/modules/user-whitelist/add-edit-user-whitelist/add-edit-user-whitelist.component.html
  angular/src/app/modules/user-whitelist/add-edit-user-whitelist/add-edit-user-whitelist.component.ts
  angular/src/app/modules/user-whitelist/enum/user-whitelist.enum.ts
  angular/src/app/modules/user-whitelist/import-excel/import-excel.component.css
  angular/src/app/modules/user-whitelist/import-excel/import-excel.component.html
  angular/src/app/modules/user-whitelist/import-excel/import-excel.component.ts
  angular/src/app/modules/user-whitelist/user-whitelist-routing.module.ts
  angular/src/app/modules/user-whitelist/user-whitelist.component.css
  angular/src/app/modules/user-whitelist/user-whitelist.component.html
  angular/src/app/modules/user-whitelist/user-whitelist.component.ts
  angular/src/app/modules/user-whitelist/user-whitelist.module.ts
  angular/src/app/modules/whitelist-system/create-edit-whitelist-system/create-edit-whitelist-system.component.css
  angular/src/app/modules/whitelist-system/create-edit-whitelist-system/create-edit-whitelist-system.component.html
  angular/src/app/modules/whitelist-system/create-edit-whitelist-system/create-edit-whitelist-system.component.ts
  angular/src/app/modules/whitelist-system/enum/whitelist-system.enum.ts
  angular/src/app/modules/whitelist-system/whitelist-system-routing.module.ts
  angular/src/app/modules/whitelist-system/whitelist-system.component.css
  angular/src/app/modules/whitelist-system/whitelist-system.component.html
  angular/src/app/modules/whitelist-system/whitelist-system.component.ts
  angular/src/app/modules/whitelist-system/whitelist-system.module.ts
  angular/src/app/service/api/model/user-whitelist.dto.ts
  angular/src/app/service/api/model/whitelist-system.dto.ts
  angular/src/app/service/api/user-whitelist.service.ts
  angular/src/app/service/api/whitelist-system.service.ts
Due: azure-pipelines-fe.yml

add backend of whitelist system and user whitelist features
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserWhitelists/UserWhitelistAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/WhitelistSystems/WhitelistSystemAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserWhitelistDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/WhitelistSystemDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserWhitelistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IWhitelistSystemServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserWhitelistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/WhitelistSystemServices.cs
  aspnet-core/src/Timesheet.Core/Entities/UserWhitelist.cs
  aspnet-core/src/Timesheet.Core/Entities/WhitelistSystem.cs
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20260311094933_Add_WhitelistSystem_And_UserWhitelist_Tables.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20260311094933_Add_WhitelistSystem_And_UserWhitelist_Tables.cs
  aspnet-core/src/Timesheet.Web.Host/wwwroot/template/TemplateImportWhitelist.xlsx
Due: azure-pipelines-be.yml

get user whitelist objects ordered by user id
  aspnet-core/src/Timesheet.Core/DomainServices/UserWhitelistServices.cs
Due: azure-pipelines-be.yml

update backend logic, remove edit user whitelist
  angular/src/app/modules/user-whitelist/add-edit-user-whitelist/add-edit-user-whitelist.component.html
  angular/src/app/modules/user-whitelist/add-edit-user-whitelist/add-edit-user-whitelist.component.ts
  angular/src/app/modules/user-whitelist/user-whitelist.component.html
  angular/src/app/modules/user-whitelist/user-whitelist.component.ts
  angular/src/app/service/api/model/user-whitelist.dto.ts
  angular/src/app/service/api/user-whitelist.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserWhitelists/UserWhitelistAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserWhitelistDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/WhitelistSystemDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserWhitelistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserWhitelistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/WhitelistSystemServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove edit whitelist module
  angular/src/app/modules/user-whitelist/add-edit-user-whitelist/add-edit-user-whitelist.component.html
  angular/src/app/modules/user-whitelist/add-edit-user-whitelist/add-edit-user-whitelist.component.ts
  angular/src/app/modules/user-whitelist/user-whitelist.component.html
  angular/src/app/modules/user-whitelist/user-whitelist.component.ts
  angular/src/app/service/api/model/user-whitelist.dto.ts
  angular/src/app/service/api/user-whitelist.service.ts
Due: azure-pipelines-fe.yml
