Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

#208: Integrate calculate money punishment: daily, mention in timesheet
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/report/tardiness-leave-early/complain-reply/complain-reply.component.css
  angular/src/app/modules/report/tardiness-leave-early/complain-reply/complain-reply.component.html
  angular/src/app/modules/report/tardiness-leave-early/complain-reply/complain-reply.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.css
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.ts
  angular/src/shared/pipes/punishName.pipe.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/CheckInCheckOutPunishmentSettingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/TimekeepingDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix bug: add teambuilding
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
Due: azure-pipelines-be.yml

#225: Create opentalk table, external api update time joined opentalk
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/service/api/model/timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/Dto/ListUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
  aspnet-core/src/Timesheet.Core/Entities/OpenTalk.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240731041403_AddOpenTalkTable.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240731041403_AddOpenTalkTable.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#245: fix bug: not allow checkin in ims
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

#245: Priority return status: remote or onsite
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

rename enpoint, method
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
Due: azure-pipelines-be.yml

update db record when userid and date exist
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
  aspnet-core/src/Timesheet.Core/Entities/OpenTalk.cs
Due: azure-pipelines-be.yml

remove unuse import
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
Due: azure-pipelines-be.yml

#225: update joined opentalk by googleId
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/Dto/ListUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Authorization/Users/User.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240806074539_add_googleid_to_user_table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240806074539_add_googleid_to_user_table.cs
Due: azure-pipelines-be.yml

#225: update property Opentalk table
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/Dto/ListUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
  aspnet-core/src/Timesheet.Core/Entities/OpenTalk.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240808083446_Change_Property_Type_OpenTalk_Table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20240808083446_Change_Property_Type_OpenTalk_Table.cs
Due: azure-pipelines-be.yml

#225: Add Logout All User Setting
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/logout-all-user.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/LogoutAllUserSetting/Dto/LogoutAllUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/LogoutAllUserSetting/LogoutAllUserSetting.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/AuthConfigurer.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#225: add conjob get data opentalk, UI, API setting external Mezon
  angular/src/account/login/login.component.ts
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/mezon-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/Dto/ListUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MezonSetting/Dto/MezonSettingDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MezonSetting/MezonSetting.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToOpenTalk.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/OpenTalkListDto.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/IMezonService.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/Startup.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#225: fix login by google
  angular/src/account/login/login.component.ts
Due: azure-pipelines-fe.yml

Test
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

#225 reverse logout setting: validate iat JWT
  angular/src/account/login/login.component.ts
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/AuthConfigurer.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#256 show project non PM
  angular/src/app/modules/project-manager/project-manager.component.html
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#225: update Mezon setting, add manual get time joined opentalk
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/mezon-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MezonSetting/MezonSetting.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToOpenTalk.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/IMezonService.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#225: update logout setting, update add googleId
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/AuthConfigurer.cs
Due: azure-pipelines-be.yml

add row in reviewer column#250
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#250: add project name most log time project
  angular/src/app/modules/review/review-detail/review-detail.component.html
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/Dto/ReviewDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

reverse appsettings.json
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

#264: add filter by join time opentalk
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.css
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.ts
  angular/src/app/service/api/timesheet.service.ts
  angular/src/app/service/api/timesheets-supervisior.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feat: Add opentalk join time
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/service/api/model/common-DTO.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/Dto/GetTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#264: fix wrong count request when filter by userId
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/TimesheetsSupervisor/TimesheetsSupervisor.cs
Due: azure-pipelines-be.yml

Fix text
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
Due: azure-pipelines-fe.yml

Optimize intern review query
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Close #270 -Branch Manager > add column level (sortable)
  angular/src/app/modules/branch-manager/manage-employee/enum/sort-project-user-number.enum.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#263 Optimize Team Working Calendar, Filter by request type: Remote
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

Update the grid result
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Reduce amount of queries to db
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

optimize linq to mem (using server host to process data)
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Reduce redundant date range
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

Fix format
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Refactor name & remove redundant logic
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

Resolved Personal Timesheet > My off/remote/onsite request: improve UI #275
  angular/src/app/modules/absence-day/absence-day.component.css
  angular/src/app/modules/absence-day/absence-day.component.html
Due: azure-pipelines-fe.yml

#250: remove redundant codes, minimize unnecessary changes
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

only get log timesheet in month review
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

Resolve #279 Personal Timesheet > Team working calendar: improve responsive
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.css
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
Due: azure-pipelines-fe.yml

Issue-278: Management > Timesheet Management: improve responsive
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/shared/date-selector/date-selector.component.html
Due: azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
