Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

add mezonuserid to user table
  angular/src/app/modules/user/create-user/create-user.component.html
  angular/src/app/modules/user/create-user/create-user.component.ts
  angular/src/app/modules/user/update-user/update-user.component.html
  angular/src/app/modules/user/update-user/update-user.component.ts
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Authorization/Users/User.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/CreateUserDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserDto.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/UserInfoResponse.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250606084948_add_mezonuserid_to_user_table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250606084948_add_mezonuserid_to_user_table.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add mezonuserid to user table
  angular/src/app/modules/user/create-user/create-user.component.html
Due: azure-pipelines-fe.yml

fix hrm sync timesheet create/update
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/CreateUpdateByHRMV2Dto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserServices.cs
Due: azure-pipelines-be.yml

fix login mezon using mezon id on timesheet app
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Authorization/Users/MezonUser.cs
Due: azure-pipelines-be.yml

add table user punishment and punishment system and migration
  aspnet-core/src/Timesheet.Core/Entities/PunishmentSystem.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishment.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250612063737_Add_User_Punishment_And_Punishment_System_Tables.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250612063737_Add_User_Punishment_And_Punishment_System_Tables.cs
Due: azure-pipelines-be.yml

update user punishment rule: daily/mention, tracker
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
Due: azure-pipelines-be.yml

Update CRUD PunishmentSystem and UserPunishment
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/CreatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/GetPunishmentSystemInput.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/IPunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/PunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/UpdatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/PunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/CreateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/GetUserPunishmentsInput.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/IUserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UpdateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250606084948_add_mezonuserid_to_user_table.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250609021337_MezonUserId.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250609021337_MezonUserId.cs
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

Lưu các thay đổi trước khi rebase vào feature/user-punishment
  angular/package-lock.json
  angular/package.json
Due: azure-pipelines-fe.yml

Revert "Feature/crud punishment system crud user punishment"
  angular/package-lock.json
  angular/package.json
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/CreatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/GetPunishmentSystemInput.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/IPunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/PunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/UpdatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/PunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/CreateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/GetUserPunishmentsInput.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/IUserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UpdateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250606084948_add_mezonuserid_to_user_table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250606084948_add_mezonuserid_to_user_table.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250609021337_MezonUserId.cs
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix: rollback code
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/CreatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/GetPunishmentSystemInput.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/IPunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/PunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/UpdatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/PunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/CreateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/GetUserPunishmentsInput.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/IUserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UpdateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
Due: azure-pipelines-be.yml

Revert "Lưu các thay đổi trước khi rebase vào feature/user-punishment"
  angular/package-lock.json
  angular/package.json
Due: azure-pipelines-fe.yml

Revert "Update CRUD PunishmentSystem and UserPunishment"
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/CreatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/GetPunishmentSystemInput.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/IPunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/PunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/UpdatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/PunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/CreateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/GetUserPunishmentsInput.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/IUserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UpdateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250606084948_add_mezonuserid_to_user_table.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250606084948_add_mezonuserid_to_user_table.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250609021337_MezonUserId.cs
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml

update crud userpunis
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/GetPunishmentSystemInput.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/PunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
Due: azure-pipelines-be.yml

Add crud system and user
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/PunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
Due: azure-pipelines-be.yml

update tracker rule for remote
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

change string to enum
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/CreatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/GetPunishmentSystemInput.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/PunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/UpdatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/PunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/CreateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/GetUserPunishmentsInput.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UpdateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/Entities/PunishmentSystem.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishment.cs
Due: azure-pipelines-be.yml

add a check to see if the type already exists
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
Due: azure-pipelines-be.yml

fix fomart and logic, remove comment
  aspnet-core/src/Timesheet.Application/APIs/NormalWorkingHours/Dto/GetNormalWorkingHourDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/CreatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/GetAllActivePunishmentSystemsInput .cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/IPunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/PunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/CreateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/GetUserPunishmentsInput.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/IUserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UpdateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/Entities/PunishmentSystem.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishment.cs
Due: azure-pipelines-be.yml

update mutiple type of punishments for users, insert into user punishment table
  aspnet-core/src/Timesheet.Application/APIs/NormalWorkingHours/Dto/GetNormalWorkingHourDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/CreatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/GetAllActivePunishmentSystemsInput .cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/GetPunishmentSystemInput.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/IPunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/PunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/Dto/UpdatePunishmentSystemDto.cs
  aspnet-core/src/Timesheet.Application/APIs/PunishmentSystem/PunishmentSystemAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/Dto/ReportInternDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/UserPunishmentNoteDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/ProjectSetting/Dto/PMReportPunishSettingDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/ProjectSetting/PMReportPunishSettingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/CreateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/GetUserPunishmentsInput.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/IUserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UpdateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/ApplyPMReportPunishmentWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/CheckAndPunishLateReviewWorker.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/CheckAndPunishLateReviewDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserPunishmentServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentServices.cs
  aspnet-core/src/Timesheet.Core/Entities/ReviewIntern.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishment.cs
  aspnet-core/src/Timesheet.Core/Services/Project/Dto/PMReportResultDto.cs
  aspnet-core/src/Timesheet.Core/Services/Project/ProjectService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250620102006_Update_IsPunishmentProcessed_to_ReviewIntern.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250620102006_Update_IsPunishmentProcessed_to_ReviewIntern.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml

refactor: Move hardcoded punishment time to config settings, remove comment
  aspnet-core/src/Timesheet.Application/BackgroundWorker/CheckAndPunishLateReviewWorker.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentServices.cs
  aspnet-core/src/Timesheet.Core/Services/Project/ProjectService.cs
Due: azure-pipelines-be.yml

update total punishment money and add type punishment complain
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetTimekeepingUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/TimekeepingDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/TimekeepingUserNoteDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Core/Entities/Timekeeping.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update view tardiness backend, get data from UserPunishment table
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/UserPunishmentDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml

update reply complain and fix user complain
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/TimekeepingDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Core/Entities/Timekeeping.cs
Due: azure-pipelines-be.yml

update fe and be view tardiness detail
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.css
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.ts
  angular/src/shared/pipes/punishName.pipe.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/UserPunishmentDetailDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix format time in overtime component fe
  angular/src/app/modules/report/over-time/over-time.component.ts
Due: azure-pipelines-fe.yml

update fix bug, add OT total in hours/days
  angular/src/app/modules/report/over-time/over-time.component.css
  angular/src/app/modules/report/over-time/over-time.component.html
  angular/src/app/modules/report/over-time/over-time.component.ts
Due: azure-pipelines-fe.yml

remove comment
  angular/src/app/modules/report/over-time/over-time.component.css
  angular/src/app/modules/report/over-time/over-time.component.ts
Due: azure-pipelines-fe.yml

change punishment type to english
  angular/src/app/constant/api.constants.ts
Due: azure-pipelines-fe.yml

update reply complain/ change punishment type tardiness
  angular/src/app/modules/report/tardiness-leave-early/complain-reply/complain-reply.component.html
  angular/src/app/modules/report/tardiness-leave-early/complain-reply/complain-reply.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/TraLoiKhieuLaiDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix logic total punishment and format
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/UserPunishmentSummaryDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml

fix format of TimekeepingAppService and UserPunishmentAppService
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
Due: azure-pipelines-be.yml

update UI, update method and dto name
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/report/tardiness-leave-early/complain-reply/complain-reply.component.html
  angular/src/app/modules/report/tardiness-leave-early/complain-reply/complain-reply.component.ts
  angular/src/app/service/api/timekeeping.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/RespondToComplaintDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Delete aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/TraLoiKhieuLaiDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/TraLoiKhieuLaiDto.cs
Due: azure-pipelines-be.yml

Update TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml

update fe complain,add new column,chang logic be
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetComplainDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/UserComplaintDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/UserPunishmentDailyDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

change complain button, change logic getmydetail and userkhieulai
  angular/src/app/app.module.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
  angular/src/app/service/api/timekeeping.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetTimekeepingUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/TimekeepingDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove comment and fomat code
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetTimekeepingUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update complain-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.css
Due: azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
