Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

update logic GetPMsOfUserbyFilter not showing enough pm
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

update hrm, button behavior
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/service/api/configuration.service.ts
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/MMNConfigDto.cs
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

change branch codes to branch ids
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/AnomaliesReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ProjectReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

update tổng tiền phạt
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetTimekeepingUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

peformance api GetPMsOfUserbyFilter
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

peformance code again
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

update pagination
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/AnomaliesReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/OfficeReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ProjectReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

fix responsive bug, add left money remain
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-hash-dialog/transaction-hash-dialog.component.html
Due: azure-pipelines-fe.yml

Revert "update pagination"
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/AnomaliesReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/OfficeReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ProjectReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

Reapply "update pagination"
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/AnomaliesReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/OfficeReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ProjectReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

Revert "Reapply "update pagination""
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/AnomaliesReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/OfficeReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ProjectReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

fix: GetForCurrentUser wrong
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/GetPunishmentPaidFilterDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update office working API to take total limit
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/OfficeReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

fix: throw error when reject remote request
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

office-report-component
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.css
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.spec.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
  angular/src/app/service/api/daily-employee-report.service.ts
Due: azure-pipelines-fe.yml

update code
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
Due: azure-pipelines-be.yml

add unlock timesheet button, add rule that's have to paid enough to submit timesheet
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.component.css
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  angular/src/app/service/api/info.service.ts
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/UserPunishmentPaidAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserPunishmentPaidDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishmentPaid.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251104031921_Add_TargetMonth_To_UserPunishmentPaid.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251104031921_Add_TargetMonth_To_UserPunishmentPaid.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

peformance code
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
Due: azure-pipelines-be.yml

refactor EmployeeReport + v1 ProjectReport
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.css
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.css
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.spec.ts
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
  angular/src/app/service/api/daily-employee-report.service.ts
  angular/src/app/service/api/daily-project-report.service.ts
Due: azure-pipelines-fe.yml

update logic for branch search
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
  angular/src/app/service/api/daily-project-report.service.ts
Due: azure-pipelines-fe.yml

improve anomalies API performance
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
Due: azure-pipelines-be.yml

move unlock pm in timesheet management tab
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

UX/UI for anomalies-report, not check api yet
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.css
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.html
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.spec.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/service/api/anomalies-report.service.ts
Due: azure-pipelines-fe.yml

add new api to get working time hour of user wfh
  aspnet-core/src/Timesheet.Application/APIs/Public/Dto/GetWorkingTimeDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

remove unnecessary part
  aspnet-core/src/Timesheet.Application/APIs/Public/Dto/GetWorkingTimeDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

remove checkSecurityCode(only need when use in IMS)
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/MMNTransactionResponse.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update authorization
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

update authorization
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/MMNTransactionResponse.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update frontend
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.css
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.html
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.css
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.css
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
Due: azure-pipelines-fe.yml

remove AbpAuthorize and unnecessary namespace
  aspnet-core/src/Timesheet.Application/APIs/Public/Dto/GetWorkingTimeDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

Temporarily disable the two unlock buttons for the next release.
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/service/api/info.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update refresh after paste transactions
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

add comment to seperate endpoint
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

update remove validation temp
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

update add data to timekeeping via new komu api
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/Dto/GetDailyReportDto.cs
Due: azure-pipelines-be.yml

update pm can not approve their request just GDVP can approve
  aspnet-core/src/Timesheet.Application/APIs/ManageWorkingTimes/ManageWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update logic pm can not approve their request
  aspnet-core/src/Timesheet.Application/APIs/ManageWorkingTimes/ManageWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update logic Pm can not approve their request onl GDVP can approve
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update logic pm can't approve their request just GDVP can approve
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
