Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

update code remove comment
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

fomart code and remove duplicate
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update missing code
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

move unlock to timesheet, seperate 2 collums unlock staff and pm, update logic donation
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.css
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.ts
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
  angular/src/app/service/api/user-punishment-paid.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/GetUserPunishmentBalanceDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/PreviewAndApplyPunishmentPointsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/UserPunishmentPaidAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/PreviewAndApplyPunishmentPointsResult.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishment.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishmentBalance.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishmentRefund.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251112050517_Add_UserPunishmentBalance_And_UserPunishmentRefund_And_IsPaid_Column.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251112050517_Add_UserPunishmentBalance_And_UserPunishmentRefund_And_IsPaid_Column.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251112060015_Update_UserPunishment_BeforeMonth11_IsPaid_To_True.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251112060015_Update_UserPunishment_BeforeMonth11_IsPaid_To_True.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update InfoAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

update
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/UserPunishmentPaidAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/PreviewAndApplyPunishmentPointsResult.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update fix all remaining bugs, merge 4 apis into 1
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/service/api/user-punishment-paid.service.ts
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/Dto/GetUserPunishmentBalanceDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/UserPunishmentPaidAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserPunishmentSummaryDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove not necessary case
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update logic pm can not approve request
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishmentRefund.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251114110637_Add_Type_Collumn_And_Update_RemainingHash_To_Points.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251114110637_Add_Type_Collumn_And_Update_RemainingHash_To_Points.cs
Due: azure-pipelines-be.yml

update migration add collum type and update totalpunishmentmoney and pi=oints
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251114121016_Add_Type_Collumn_And_Update_RemainingHash_To_Points.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251114121016_Add_Type_Collumn_And_Update_RemainingHash_To_Points.cs
Due: azure-pipelines-be.yml

update migration
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251114110637_Add_Type_Collumn_And_Update_RemainingHash_To_Points.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251114110637_Add_Type_Collumn_And_Update_RemainingHash_To_Points.cs
Due: azure-pipelines-be.yml

update GetTotalRemainPointsUsedInMonth
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update UI
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
Due: azure-pipelines-fe.yml

update
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update unlock ts api to update totalpunishmentmoney
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

update logic to update totalpunishmentmoney and remainpoints, update migration
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251114121016_Add_Type_Collumn_And_Update_RemainingHash_To_Points.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251115032315_Add_Type_Collumn_And_Update_RemainingHash_To_Points.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251115032315_Add_Type_Collumn_And_Update_RemainingHash_To_Points.cs
Due: azure-pipelines-be.yml

update UI and logic
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update UI and validate
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

optimize logic
  aspnet-core/src/Timesheet.Core/DomainServices/IUserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

remove logic pm can't approve/reject another pm and add logic branch director can approve/reject member from another branch
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

update logic branch director can approve/reject request of another branch director
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

Revert "[DRAFT - STG]: remove not necessary case"
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

Revert "update missing code"
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

Revert "update logic pm can't approve their request just GDVP can approve"
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

hotfix: approve request bug
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

new column ref to txhash for UserPunishment, update UIUX for flow unlock staff, dong thua tien -> chuyen sang point, fix update used points
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.module.ts
  angular/src/app/modules/mytimesheet/unlock-confirm-dialog/unlock-confirm-dialog.component.css
  angular/src/app/modules/mytimesheet/unlock-confirm-dialog/unlock-confirm-dialog.component.html
  angular/src/app/modules/mytimesheet/unlock-confirm-dialog/unlock-confirm-dialog.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishment.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251117064648_Add_UserPunishmentPaidId_To_UserPunishment.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251117064648_Add_UserPunishmentPaidId_To_UserPunishment.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update description for Refund points tooltip
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
Due: azure-pipelines-fe.yml

update color for tong tien phat con lai va tong tien phat thang
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
Due: azure-pipelines-fe.yml

fix bug branch director can't check Leave days / onsite of user
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
Due: azure-pipelines-be.yml

add unique index for userid in userpunishmentbalance, add transaction for 2 methods
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/EntityFrameworkCore/TimesheetDbContext.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251118060008_AddUniqueIndex_UserPunishmentBalance_UserId.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251118060008_AddUniqueIndex_UserPunishmentBalance_UserId.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add to response mezonuserid
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
  aspnet-core/src/Timesheet.Web.Core/Models/TokenAuth/AuthenticateResultModel.cs
Due: azure-pipelines-be.yml

finalize updating frontend of three reports
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.css
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.html
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.css
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.css
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
  angular/src/app/service/api/anomalies-report.service.ts
  angular/src/app/service/api/daily-employee-report.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

add transaction rollback for 2 method MarkPaid and Preview
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml
