Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

bugfix/52730-git = hot fix get review intern and retro data error from Project tool
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/52501=: connect sentry selfhosted to be timesheet (#18)
  aspnet-core/src/Timesheet.Web.Host/Startup/Startup.cs
  aspnet-core/src/Timesheet.Web.Host/Timesheet.Web.Host.csproj
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
  aspnet-core/src/Timesheet.Web.Host/log4net.config
Due: azure-pipelines-be.yml

feature/49681 = update pr 2 03/10/2023
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
Due: azure-pipelines-fe.yml

feature/52131 + : create screen phu for Manage employee for GDVP
  angular/src/app/constant/api-config.constant.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/service/api/manage-user-project-for-branch.service.spec.ts
  angular/src/app/service/api/manage-user-project-for-branch.service.ts
  angular/src/shared/pipes/show-project-in-active.pipe.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe.yml

feature/49681 + update display punish daily and mention in my timeshe… (#19)
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetTimekeepingUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Entities/Timekeeping.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/Dto/GetDailyReportDto.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230929080608_Timekeeping_Add_Column_CountPunishDaily_And_CountPunishMention.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20230929080608_Timekeeping_Add_Column_CountPunishDaily_And_CountPunishMention.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Public/PublicAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Timekeepings/TimekeepingAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/JsonData/TimekeepingsAppService_Tests/get_daily_report_result.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/52502 = connect sentry to fe timesheet
  angular/src/app/app.module.ts
  angular/src/environments/environment.ts
  angular/src/index.html
  angular/src/main.ts
Due: azure-pipelines-fe.yml

fix api GetStatisticNumOfUsersInProject, add search, sort, paging
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserStatisticInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
Due: azure-pipelines-be.yml

feature/52132 + : create chart
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.spec.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
Due: azure-pipelines-fe.yml

fix file appconfig
  angular/src/assets/appconfig.json
Due: azure-pipelines-fe.yml

bugfix/52780 fix bug unlock timesheet
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/test/Timesheet.Application.Tests/API/MyTimesheets/MyTimesheetsAppService_Test.cs
Due: azure-pipelines-be.yml

bugfix/52780 rollback case onsite not punish
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

bugfix/52754 fix bug display checkbox wrong
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
Due: azure-pipelines-fe.yml

feature/52699 = Fix Bug UI popup request off/remote/onsite
  angular/src/app/modules/absence-day/tardiness-leave-early-dialog/tardiness-leave-early-dialog.component.html
Due: azure-pipelines-fe.yml

bugfix/52780 update case checkin, checkout onsite
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/MapAbsenceUserDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

bugfix/52780 refactor code
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

feature/52753 = [Team working calendar] improve UI
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.css
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
Due: azure-pipelines-fe.yml

refactor code
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

fix filter branch for api GetAllUserPagging
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml

feature/52753 = improve UI Team working calendar
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
Due: azure-pipelines-fe.yml

refactor code
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
Due: azure-pipelines-fe.yml

feature/52126-2 update api get all value of user in project
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/GetAllValueOfUserInProjectByUserIdDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
Due: azure-pipelines-be.yml

feature/52128-2 create api manage user for branch and create permission name
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserStatisticInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserValueDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml

bugfix/52780 update unit test check case submit to pending
  aspnet-core/test/Timesheet.Application.Tests/API/MyTimesheets/MyTimesheetsAppService_Test.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Public/PublicAppService_Tests.cs
Due: azure-pipelines-be.yml

feature/52861 = create api get averagestar by email
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/Dto/RetroReviewInternHistoriesDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/52126-2 = rename dto
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/Dto/ValueOfUserInProjectByUserIdDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
Due: azure-pipelines-be.yml

feature/52502 = add extraSentry: request and response
  angular/package-lock.json
  angular/package.json
  angular/src/app/app.module.ts
  angular/src/index.html
  angular/src/main.ts
  angular/src/shared/interceptor-errors/http-error.interceptor.ts
Due: azure-pipelines-fe.yml

feature/52128-2 = update query page result
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserStatisticInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/AppServiceBase.cs
Due: azure-pipelines-be.yml

feature/52128-2 = reactor code
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml

feature/52128-2 create api manage user for branch and create permission name (#31)
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserStatisticInProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserValueDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/AppServiceBase.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml

refactor code
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
Due: azure-pipelines-fe.yml

feature/52669 = create btn filter branch director Manage team working calendar page
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

feature/52130 = refactor code
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/branch-manager/const/const.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/main-routing.module.ts
  angular/src/app/service/api/model/branch-manager-dto.ts
  angular/src/bsb-theme/css/style.css
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/52130 = refactor code 2
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/service/api/model/branch-manage-dto.ts
  angular/src/bsb-theme/css/style.css
Due: azure-pipelines-fe.yml

refator code css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/bsb-theme/css/style.css
Due: azure-pipelines-fe.yml

refactor code
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/bsb-theme/css/style.css
Due: azure-pipelines-fe.yml

Feature/52130 + : create main screen for Manage employee for GDVP (#34)
  angular/src/app/constant/permission.constant.ts
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/branch-manager-routing.module.ts
  angular/src/app/modules/branch-manager/branch-manager.component.css
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.component.spec.ts
  angular/src/app/modules/branch-manager/branch-manager.component.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/main-routing.module.ts
  angular/src/app/service/api/manage-user-for-branch.service.spec.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  angular/src/bsb-theme/css/style.css
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/52131 + FE : create screen phu for Manage employee for GDVP
  angular/src/app/constant/api-config.constant.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/service/api/manage-user-project-for-branch.service.spec.ts
  angular/src/app/service/api/manage-user-project-for-branch.service.ts
  angular/src/shared/pipes/show-project-in-active.pipe.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe.yml

feature/52669 = update display by permission
  angular/src/app/modules/off-day-project/off-day-project.component.html
Due: azure-pipelines-fe.yml

refactor code
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.html
Due: azure-pipelines-fe.yml

feature/52669 = update display button by permission
  angular/src/app/modules/off-day-project/off-day-project.component.html
Due: azure-pipelines-fe.yml
