Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

hotfix/54523 = update Notify teambuilding
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
Due: azure-pipelines-be.yml

feature/54535 = [TeamBuilding] khi tạo mới một project bắt buộc chọn project đó có được tính teambuilding không
  angular/src/app/modules/project-manager/create-project/create-project.component.html
  angular/src/app/service/api/model/project-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54187 = revert code
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/54187 get reviewer info history to Project tool (#63)
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/54268 = update name function
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.css
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
Due: azure-pipelines-fe.yml

feature/54268 add search by Pm and sort by Pm (#68)
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.css
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
  angular/src/app/service/api/model/retro-detail-dto.ts
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/Dto/RetroResultDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54558 = update code file test, bỏ status enum HrVerify
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/test/Timesheet.Application.Tests/API/ReviewDetails/ReviewDetailAppService_Tests.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/54523 = fix notify teambuilding, bỏ auto suggest, sửa case request nếu không có VAT thì sẽ cho request nhiều hơn 10%
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54325 = [Manage timesheet] hiển thị member log vào target user nào
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/service/api/model/timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/54523 = fix notify teambuilding, bỏ auto suggest, sửa case request nếu không có VAT thì sẽ cho request nhiều hơn 10% (#75)
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54535 = fix bug pipeline
  angular/src/app/modules/project-manager/create-project/create-project.component.ts
Due: azure-pipelines-fe.yml

feature/54535 = fix bug pipeline (#78)
  angular/src/app/modules/project-manager/create-project/create-project.component.ts
Due: azure-pipelines-fe.yml

feature/54254 = Require checkin/checkout for Onsite user (#70)
  angular/src/app/modules/absence-day/absence-day.component.ts
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/Uitls/RequestUtils.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/54566 = update default filter from the 1st of the previous month to the last day of the current month
  angular/src/app/modules/timesheet/timesheet.component.ts
Due: azure-pipelines-fe.yml

bugifx/54563 = update keep filter after delete a record
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
Due: azure-pipelines-fe.yml

feature/53154 update business submit request teambuilding
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
Due: azure-pipelines-be.yml

feature/54567 = update case disburse no VAT
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.html
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingDetailsPM/TeamBuildingDetailsPMAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/53154 = update suggest disburse money, suggest remaining money
  angular/src/app/modules/team-building/const/const.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.html
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/edit-invoice-money/edit-invoice-money.component.html
  angular/src/app/modules/team-building/team-building-request/disburse-request/edit-invoice-money/edit-invoice-money.component.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/dto/EditOneInvoiceDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/53154 = update config teambuilding, update the VAT calculation formula
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.ts
  angular/src/app/service/api/team-building-request.service.ts
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/TeamBuildingConfigDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/test/Timesheet.Application.Tests/API/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService_Test.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/54325 = Update conditions for shadow account case
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/service/api/model/timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/54563 = fix search text in UI is empty but api still transmits
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
Due: azure-pipelines-fe.yml

feature/54325 = [Manage timesheet] display target user for shadow account (#76)
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/modules/timesheet/timesheet.component.ts
  angular/src/app/service/api/model/timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/53154 = update description detail config teambuilding
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

bugfix/54563 = fix keep filter after delete a record
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
Due: azure-pipelines-fe.yml

bugifx/54585 = fix display incorrect registration hours (checkin, checkout) in cases of late arrival and early departure
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml

bugifx/54563 = update keep filter after delete a record (#80)
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
Due: azure-pipelines-fe.yml

bugfix/54584 = Edit report when selecting option No check in & no check out but have TS/ No Checkin/ No Check Out/ No Check in & no check out
  aspnet-core/src/Timesheet.Application/APIs/NormalWorkingHours/NormalWorkingHourAppService.cs
Due: azure-pipelines-be.yml

feature/54583 = hide the Branch Manager function
  angular/src/app/layout/sidebar-nav.component.ts
Due: azure-pipelines-fe.yml

bugfix/54598 = fix display registration hours (checkin, checkout) is wrong case request onsite, add unit test case onsite
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Timekeepings/TimekeepingAppService_Tests.cs
Due: azure-pipelines-be.yml

feature/54601 = update UI/UX my timesheet, expand column when click, add required icon
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.html
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Web.Host/wwwroot/template/ExportTeamWorkingCalender.xlsx
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

cherry-pick feature/54601
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.css
  angular/src/app/modules/review/review-detail/review-detail.component.html
  angular/src/app/modules/review/review-detail/review-detail.component.ts
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.html
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Web.Host/wwwroot/template/ExportTeamWorkingCalender.xlsx
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add logging
  angular/src/main.ts
Due: azure-pipelines-fe.yml

change to deploy
  aspnet-core/src/Timesheet.Web.Host/Controllers/HomeController.cs
Due: azure-pipelines-be.yml

remove max-old-space-size
  .github/workflows/deploy_server_prod_fe.yml
Due: none

update max-old-space-size
  .github/workflows/deploy_server_prod_fe.yml
Due: none

update deploy_server_prod_fe
  .github/workflows/deploy_server_prod_fe.yml
Due: none

bugfix/545629 = hide Admin and Management items with USER role
  angular/src/app/layout/sidebar-nav.component.ts
Due: azure-pipelines-fe.yml

bugfix/54629 = improve menu Personal timesheet
  angular/src/app/layout/sidebar-nav.component.ts
Due: azure-pipelines-fe.yml

hotfix-pipeline = fix pippeline
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.html
Due: azure-pipelines-fe.yml
