Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

update log for MarkPaidTransactions
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

return token
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
  aspnet-core/src/Timesheet.Web.Core/Models/TokenAuth/AuthenticateResultModel.cs
Due: azure-pipelines-be.yml

round the total log timesheet time to one decimal place on frontend
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-normal-working/mytimesheet-normal-working.component.ts
Due: azure-pipelines-fe.yml

[Timesheet] Update timesheet feedback (mezonai/mmn#426) (#609)
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.module.ts
  angular/src/app/modules/mytimesheet/unlock-confirm-dialog/unlock-confirm-dialog.component.css
  angular/src/app/modules/mytimesheet/unlock-confirm-dialog/unlock-confirm-dialog.component.html
  angular/src/app/modules/mytimesheet/unlock-confirm-dialog/unlock-confirm-dialog.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/Entities/UserPunishment.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251117064648_Add_UserPunishmentPaidId_To_UserPunishment.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20251117064648_Add_UserPunishmentPaidId_To_UserPunishment.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix: handle mytimesheet submit errors by flag instead of message
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250804063651_Add_UserPunishment_And_PunishmentSystem_And_IsPunishmentProcessedCollumn.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250804063651_Add_UserPunishment_And_PunishmentSystem_And_IsPunishmentProcessedCollumn.cs
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix: handle mytimesheet submit errors by flag instead of message
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

swap color 2 button Unlock Staff and Submit timesheet
  angular/src/app/modules/mytimesheet/mytimesheets.component.css
  angular/src/app/modules/mytimesheet/mytimesheets.component.html
  angular/src/app/modules/mytimesheet/unlock-confirm-dialog/unlock-confirm-dialog.component.css
  angular/src/app/modules/mytimesheet/unlock-confirm-dialog/unlock-confirm-dialog.component.html
Due: azure-pipelines-fe.yml

handle submit error by dto
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/Dto/SubmitTimesheetResultDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove constants
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

move error code to enum both fe and be
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/mytimesheet/mytimesheets.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update
  angular/src/app/constant/api.constants.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/Dto/SubmitTimesheetResultDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

return mezon access token
  aspnet-core/src/Timesheet.Core/Authorization/Dto/MezonLoginResult.cs
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
Due: azure-pipelines-be.yml

update checkbox Approve/Reject Timesheet to notify approve reject Timesheet
  angular/src/app/modules/project-manager/create-project/create-project.component.html
Due: azure-pipelines-fe.yml

Token => AuthToken
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
  aspnet-core/src/Timesheet.Web.Core/Models/TokenAuth/AuthenticateResultModel.cs
Due: azure-pipelines-be.yml

feat: update GetDataForCheckPoint api
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

seperate use points function , remove unnecessary code
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/service/api/user-punishment-paid.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishmentPaids/UserPunishmentPaidAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserPunishmentPaidService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Update timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
Due: azure-pipelines-fe.yml

update
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

update logic
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentPaidService.cs
Due: azure-pipelines-be.yml

[DRAFT - BE - STG] Improve logic of office working report
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml

[DRAFT - BE - STG] Improve logic of project report
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/BotReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
Due: azure-pipelines-be.yml

[DRAFT - BE - STG] Improve logic of anomalies report
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomaliesTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
Due: azure-pipelines-be.yml

update logic to send notifi with Komu Dev channel ID is unknow-user
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

tranfer from timesheet to paid fine
  angular/src/AppPreBootstrap.ts
  angular/src/account/login/login.service.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/timesheet-confirmation-dialog/timesheet-confirmation-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet.service.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-success-dialog/transaction-success-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-success-dialog/transaction-success-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-success-dialog/transaction-success-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.module.ts
  angular/src/app/service/api/user-punishment-paid.service.ts
  angular/src/assets/appconfig.json
  angular/src/assets/appconfig.production.json
  angular/src/shared/AppConsts.ts
  angular/src/shared/mmn-clients.ts
  angular/src/shared/service-proxies/service-proxies.ts
Due: azure-pipelines-fe.yml

fixing conflict
  angular/src/app/modules/mytimesheet/mytimesheets.module.ts
Due: azure-pipelines-fe.yml

update
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
Due: azure-pipelines-be.yml

update report app service
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
Due: azure-pipelines-be.yml

add to response mezonuserid
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
  aspnet-core/src/Timesheet.Web.Core/Models/TokenAuth/AuthenticateResultModel.cs
Due: azure-pipelines-be.yml

Fix Unit Test Error internsinforappservice_test
  aspnet-core/test/Timesheet.Application.Tests/API/InternInfo/InternsInfoAppService_Tests.cs
Due: azure-pipelines-be.yml

Fix Unit Test Error
  aspnet-core/test/Timesheet.Application.Tests/API/ManageWorkingTimes/ManageWorkingTimeAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/MyTimesheets/MyTimesheetsAppService_Test.cs
  aspnet-core/test/Timesheet.Application.Tests/API/NormalWorkingHours/NormalWorkingHourAppService_Test.cs
  aspnet-core/test/Timesheet.Application.Tests/API/RequestDays/RequestDayAppServiceTest.cs
  aspnet-core/test/Timesheet.Application.Tests/API/RequestDays/RequestDayAppServiceTestBase.cs
  aspnet-core/test/Timesheet.Application.Tests/API/ReviewDetails/ReviewDetailAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/ReviewInterns/ReviewInternAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/Timesheets/TimesheetAppSevice_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/TimeSheets/TimesheetsSupervisor/TimesheetsSupervisor_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/API/Timekeepings/TimekeepingAppService_Tests.cs
  aspnet-core/test/Timesheet.Application.Tests/MyWorkingTimes/MyWorkingTimeAppService_Test.cs
Due: azure-pipelines-be.yml

add balance display, and transaction success ui
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/tranfer-from-timesheet-dialog/tranfer-from-timesheet.service.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-success-dialog/transaction-success-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-success-dialog/transaction-success-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/transaction-success-dialog/transaction-success-dialog.component.ts
Due: azure-pipelines-fe.yml

use id_token
  angular/src/account/login/login.service.ts
  aspnet-core/src/Timesheet.Core/Authorization/Dto/MezonLoginResult.cs
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
  aspnet-core/src/Timesheet.Core/Services/Mezon/Dto/OAuth2TokenResponse.cs
  aspnet-core/src/Timesheet.Web.Core/Controllers/TokenAuthController.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update backend of employee report
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/OfficeWorkingTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/ReportAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
Due: azure-pipelines-be.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
