Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

feature/52132 + ; Create Chart for Manage employee for GDVP
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.spec.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
Due: azure-pipelines-fe.yml

feature/52669 = create btn filter branch director Manage team working… (#33)
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

refactor code
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

refactor code
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
Due: azure-pipelines-fe.yml

refactor code
  angular/src/app/constant/api-config.constant.ts
  angular/src/app/constant/api.constants.ts
Due: azure-pipelines-fe.yml

refactor code 2
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

fix css
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
Due: azure-pipelines-fe.yml

feature/52131 + FE : create screen phu for Manage employee for GDVP (#35)
  angular/src/app/constant/api-config.constant.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-custome-time/popup-custome-time.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.spec.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/service/api/manage-user-project-for-branch.service.spec.ts
  angular/src/app/service/api/manage-user-project-for-branch.service.ts
  angular/src/shared/pipes/show-project-in-active.pipe.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe.yml

feature/52748 = get project name review intern
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/52132 + ; Create Chart for Manage employee for GDVP (#36)
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/branch-manager.component.html
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.spec.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
Due: azure-pipelines-fe.yml

feature/52748 = remove function use test
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/52748 = update pull request 12/10/2023
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/52748 = update pull request 2 12/10/2023
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagement/ProjectManagementAppService.cs
Due: azure-pipelines-be.yml

feature/52412 update pr 13/10/2023
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

bugix/52699 fix bug merge manage branch director error
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/popup-update-project/popup-update-project.component.ts
  angular/src/shared/pipes/show-project-in-active.pipe.ts
Due: azure-pipelines-fe.yml

Refactor init Sentry and move config by environment
  angular/src/AppPreBootstrap.ts
  angular/src/app/app.module.ts
  angular/src/assets/appconfig.json
  angular/src/assets/appconfig.production.json
  angular/src/environments/environment.ts
  angular/src/shared/AppConsts.ts
  angular/src/shared/interceptor-errors/custom-error.ts
  angular/src/shared/interceptor-errors/http-error.interceptor.ts
Due: azure-pipelines-fe.yml

feature/52412 rename class css
  angular/src/app/configuration/configuration.component.css
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

feature/52502 = update pr 16/10/2023
  angular/src/AppPreBootstrap.ts
  angular/src/shared/interceptor-errors/custom-error.ts
  angular/src/shared/interceptor-errors/http-error.interceptor.ts
Due: azure-pipelines-fe.yml

feature/51621 = refactor nav-menu
  angular/src/app/layout/sidebar-nav.component.ts
Due: azure-pipelines-fe.yml

bugfix/52820 = fix bug not connect signalR
  aspnet-core/src/Timesheet.Web.Host/Startup/Startup.cs
Due: azure-pipelines-be.yml

feature/52502 = update 17/10/2023
  angular/src/AppPreBootstrap.ts
  angular/src/root.module.ts
  angular/src/shared/interceptor-errors/http-error.interceptor.ts
  angular/src/shared/sentry-service/index.ts
  angular/src/shared/session/app-session.service.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe.yml

feature/52985 = create radio button filter by project or branch
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

feature/52502 = connect sentry to fe timesheet (#23)
  angular/package-lock.json
  angular/package.json
  angular/src/AppPreBootstrap.ts
  angular/src/assets/appconfig.json
  angular/src/assets/appconfig.production.json
  angular/src/index.html
  angular/src/root.module.ts
  angular/src/shared/AppConsts.ts
  angular/src/shared/interceptor-errors/custom-error.ts
  angular/src/shared/interceptor-errors/http-error.interceptor.ts
  angular/src/shared/sentry-service/index.ts
  angular/src/shared/session/app-session.service.ts
  angular/src/shared/shared.module.ts
Due: azure-pipelines-fe.yml

feature/52985 update pr 19/10/2023
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

bugfix/53005 = improve query performance
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
Due: azure-pipelines-be.yml

feature/51621 = rename menu
  angular/src/app/configuration/configuration.component.html
  angular/src/app/layout/sidebar-nav.component.ts
Due: azure-pipelines-fe.yml

feature/53025 + create api and button generate data retro result
  angular/src/app/modules/retros/retro/retro-detail/generate-data/generate-data.component.html
  angular/src/app/modules/retros/retro/retro-detail/generate-data/generate-data.component.spec.ts
  angular/src/app/modules/retros/retro/retro-detail/generate-data/generate-data.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.css
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.module.ts
  angular/src/app/service/api/retro-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/InputGenerateDataRetroResultDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/53003-main update from dev
  angular/src/assets/appconfig.json
Due: azure-pipelines-fe.yml

feature/53025 = update api generate data retro result
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
Due: azure-pipelines-be.yml

feature/53025 = update 26/10/2023
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
Due: azure-pipelines-fe.yml

feature/53025 + create api and button generate data retro result (#45)
  angular/src/app/modules/retros/retro/retro-detail/generate-data/generate-data.component.html
  angular/src/app/modules/retros/retro/retro-detail/generate-data/generate-data.component.spec.ts
  angular/src/app/modules/retros/retro/retro-detail/generate-data/generate-data.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.css
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.module.ts
  angular/src/app/service/api/retro-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/InputGenerateDataRetroResultDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/53026 + update add multi user
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.css
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.spec.ts
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.ts
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.css
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.html
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.spec.ts
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.module.ts
  angular/src/app/service/api/appServiceBase.service.ts
  angular/src/app/service/api/model/project-Dto.ts
  angular/src/app/service/api/model/retro-detail-dto.ts
  angular/src/app/service/api/retro-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
  aspnet-core/src/Timesheet.Application/AppServiceBase.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/ProjectByCurrentUserDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/53026 = update filter project, branch in add multi user in retro result 3/11/2023
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.ts
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.css
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/53026 = update 3/11/2023
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.css
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.css
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
Due: azure-pipelines-fe.yml

Feature/53026= update filter project, branch in add multi user retro result 3/11/2023 (#47)
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.css
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.spec.ts
  angular/src/app/modules/retros/retro/retro-detail/add-multi-retro-detail/add-multi-retro-detail.component.ts
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.css
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.html
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.spec.ts
  angular/src/app/modules/retros/retro/retro-detail/app-add-user-other-project-retro-result/app-add-user-other-project-retro-result.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.css
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.html
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.component.ts
  angular/src/app/modules/retros/retro/retro-detail/retro-detail.module.ts
  angular/src/app/service/api/appServiceBase.service.ts
  angular/src/app/service/api/model/project-Dto.ts
  angular/src/app/service/api/model/retro-detail-dto.ts
  angular/src/app/service/api/retro-detail.service.ts
  aspnet-core/src/Timesheet.Application/APIs/RetroResult/RetroResultAppService.cs
  aspnet-core/src/Timesheet.Application/AppServiceBase.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/ProjectByCurrentUserDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

hotfix/53042-git = update code mới từ nhánh stg trên ops sang nhánh dev trên github
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.html
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.ts
  angular/src/app/modules/team-building/team-building-request/disburse-request/disburse-request.component.html
  aspnet-core/src/Timesheet.Application/APIs/TeamBuildingRequestHistories/TeamBuildingRequestHistoriesAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/53188 + Add cron job to create new retro and generate data, Add permission for new feature
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/configuration.service.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataRetroWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/RetroAddDataConfigDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

feature/53188 = update check allow worker 8/11/2023
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataRetroWorker.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

bugfix/53202 = [Teambuilding] update valid image
  angular/src/app/service/api/team-building-pm.service.ts
Due: azure-pipelines-fe.yml

feature/53188 = update check hour 9/11/2023
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataRetroWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/RetroAddDataConfigDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml
