Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

fix if it's day off, no punishment for pm report
  aspnet-core/src/Timesheet.Core/DomainServices/UserPunishmentServices.cs
Due: azure-pipelines-be.yml

fix logic and display
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
Due: azure-pipelines-be.yml

update daily project report bot
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/BotReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/IBotReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

change Configured time logic
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/OfficeWorkingReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
Due: azure-pipelines-be.yml

fix review intern deadline
  aspnet-core/src/Timesheet.Application/BackgroundWorker/CheckAndPunishLateReviewWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ReviewInternServices.cs
Due: azure-pipelines-be.yml

change description UI for Project selection part
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

send notification to PM when user submit new working time
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
Due: azure-pipelines-be.yml

update
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
Due: azure-pipelines-be.yml

remove logger, remove dto redundant
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
Due: azure-pipelines-be.yml

update branch code config instead of branch id
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

change branch
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
Due: azure-pipelines-be.yml

change fomart
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
Due: azure-pipelines-be.yml

Remove the redundant code section for sending notifications.
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
Due: azure-pipelines-be.yml

use log time instead of checkin time, update bot config allow to choose mutiple branchs
  angular/src/app/configuration/configuration.component.css
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add compare punishment api
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
Due: azure-pipelines-be.yml

show only percentages
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
Due: azure-pipelines-be.yml

use NccAuthen
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
Due: azure-pipelines-be.yml

No longer use getall; replace it with GetAsync.
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
Due: azure-pipelines-be.yml

add logic to prevent this api from running in parallel, add loading popup during api processing
  angular/src/app/modules/report/tardiness-leave-early/selected-date/selected-date.component.html
  angular/src/app/modules/report/tardiness-leave-early/selected-date/selected-date.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

use english and remove duplicate queries
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove unnecessary dto and unnecessary function
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/Dto/ProjectDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Projects/ProjectAppService.cs
Due: azure-pipelines-be.yml

remove comment and add logger
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
Due: azure-pipelines-be.yml

Finished sending anormalies report module
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/BotDailyReport/BotReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotDailyReport/Dto/AnomaliesSettingDto.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Separate get and post, remove unnecessary functions.
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
Due: azure-pipelines-be.yml

Resolve conflict on merging Daily Project Report and Daily Anomalies Report
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IAbsenceDayServices.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update API GetPMsOfUser
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

The remote has been canceled, but it is still being tracked.
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

update shorter logic code
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

Delete aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/OfficeWorkingTopDto.cs
Due: azure-pipelines-be.yml

change nested functions into seperate functions
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

fomart code OfficeWorkingReportAppService
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
Due: azure-pipelines-be.yml

change cronjob timer
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
Due: azure-pipelines-be.yml

improve addTimekeepingByDay feature
  angular/src/app/service/api/timekeeping-signalR.service.ts
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix logic to send anomalies report by default (whether or not click everyday checkbox)
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AnomaliesReportWorker.cs
Due: azure-pipelines-be.yml

fix logic to send anomalies report by default (whether or not click everyday checkbox)
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
Due: azure-pipelines-be.yml

format code
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

add WorkingLocation into BE v1
  angular/package-lock.json
  angular/package.json
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/Dto/MyTimesheetDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/Entities/MyTimesheet.cs
  aspnet-core/src/Timesheet.Core/Entities/Timekeeping.cs
  aspnet-core/src/Timesheet.Web.Host/appsettings.json
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update api GetPMsOfUser get user deleted
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

peformance code and remove unnecessary parts
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

update logic send notify
  aspnet-core/src/Timesheet.Application/APIs/MyWorkingTimes/MyWorkingTimeAppService.cs
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
Due: azure-pipelines-be.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
