Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

optimize backend logic, remove edit user whitelist module
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserWhitelists/UserWhitelistAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserWhitelistDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/WhitelistSystemDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IUserWhitelistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserWhitelistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/WhitelistSystemServices.cs
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml

fix: UI for Timesheet Management page
  angular/src/app/modules/timesheet/timesheet.component.css
  angular/src/app/modules/timesheet/timesheet.component.html
Due: azure-pipelines-fe.yml

update displayed columns
  angular/src/app/modules/user-whitelist/add-edit-user-whitelist/add-edit-user-whitelist.component.ts
  angular/src/app/modules/user-whitelist/enum/user-whitelist.enum.ts
  angular/src/app/modules/user-whitelist/user-whitelist.component.css
  angular/src/app/modules/user-whitelist/user-whitelist.component.html
  angular/src/app/modules/user-whitelist/user-whitelist.component.ts
  angular/src/app/modules/whitelist-system/whitelist-system.component.css
  angular/src/app/modules/whitelist-system/whitelist-system.component.html
  angular/src/app/service/api/model/user-whitelist.dto.ts
  angular/src/app/service/api/model/whitelist-system.dto.ts
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserWhitelistDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/WhitelistSystemDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserWhitelistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/WhitelistSystemServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update displayed columns on whitelist features
  angular/src/app/modules/user-whitelist/add-edit-user-whitelist/add-edit-user-whitelist.component.ts
  angular/src/app/modules/user-whitelist/enum/user-whitelist.enum.ts
  angular/src/app/modules/user-whitelist/user-whitelist.component.css
  angular/src/app/modules/user-whitelist/user-whitelist.component.html
  angular/src/app/modules/user-whitelist/user-whitelist.component.ts
  angular/src/app/modules/whitelist-system/whitelist-system.component.css
  angular/src/app/modules/whitelist-system/whitelist-system.component.html
  angular/src/app/service/api/model/user-whitelist.dto.ts
  angular/src/app/service/api/model/whitelist-system.dto.ts
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/UserWhitelistDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/WhitelistSystemDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/UserWhitelistServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/WhitelistSystemServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update UI of three reports, set default branch to display
  angular/src/app/modules/branch-manager/Dto/anomalies-report-dto.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.css
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.html
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/enum/anomalies-report.enum.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.ts
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/service/api/daily-employee-report.service.ts
  angular/src/app/service/api/daily-project-report.service.ts
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/OfficeWorkingTopLWLMDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/OfficeWorkingReportServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update request change info feature
  angular/src/app/modules/my-profile/update-user-profile/update-user-profile.component.css
  angular/src/app/modules/my-profile/update-user-profile/update-user-profile.component.html
  angular/src/app/modules/my-profile/update-user-profile/update-user-profile.component.ts
Due: azure-pipelines-fe.yml

update ui of anomalies report, fix time range filters
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.css
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.html
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.css
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.css
  aspnet-core/src/Timesheet.Application/APIs/Reports/ReportAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix issued by list
  angular/src/app/modules/my-profile/update-user-profile/update-user-profile.component.ts
Due: azure-pipelines-fe.yml

feat: get user leave day by project code api
  aspnet-core/src/Timesheet.Application/APIs/Public/Dto/WorkingStatusUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

fix: get endDate is Last day of month
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

refactor the logic of anomalies report, update frontend of three reports
  angular/src/app/modules/branch-manager/Dto/anomalies-report-dto.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.css
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-report.component.ts
  angular/src/app/modules/branch-manager/anomalies-report/anomalies-tab/anomalies-tab.component.html
  angular/src/app/modules/branch-manager/anomalies-report/enum/anomalies-report.enum.ts
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.css
  angular/src/app/modules/branch-manager/daily-employee-report/daily-employee-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.css
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.html
  angular/src/app/modules/branch-manager/daily-project-report/daily-project-report.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/AnomalyDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

refactor code: fix null value return
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

Update anomaly notes
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

fix dto bug
  angular/src/app/modules/user-whitelist/user-whitelist.component.html
  angular/src/app/service/api/model/user-whitelist.dto.ts
  aspnet-core/src/Timesheet.Core/DomainServices/UserWhitelistServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove getting Timekeeping data on Saturdays
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

update yesterday variable
  aspnet-core/src/Timesheet.Core/DomainServices/AbsenceDayServices.cs
Due: azure-pipelines-be.yml

update review intern, off request and timesheet management email templates
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/NotifyUserInfoDto.cs
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml

refactor parameters
  aspnet-core/src/Timesheet.Application/APIs/RequestDays/RequestDayAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReviewDetails/ReviewDetailAppService.cs
Due: azure-pipelines-be.yml

fix review intern header
  aspnet-core/src/Timesheet.Application/APIs/ReviewInterns/ReviewInternAppService.cs
Due: azure-pipelines-be.yml

hotfix: call komu api timeout
  aspnet-core/src/Timesheet.Core/Services/Komu/KomuService.cs
Due: azure-pipelines-be.yml

create project history module in branch manager feature
  angular/src/app/modules/branch-manager/Dto/project-history-dto.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/date-filter/date-filter.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.css
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.html
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/modules/branch-manager/manage-employee/project-history/project-history.component.css
  angular/src/app/modules/branch-manager/manage-employee/project-history/project-history.component.html
  angular/src/app/modules/branch-manager/manage-employee/project-history/project-history.component.ts
  angular/src/app/service/api/manage-user-project-for-branch.service.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserProjectForBranchs/ManageUserProjectForBranchAppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/ProjectHistoryDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IManageUserProjectForBranchServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ManageUserProjectForBranchServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

refactor logic code
  aspnet-core/src/Timesheet.Core/DomainServices/ManageUserProjectForBranchServices.cs
Due: azure-pipelines-be.yml

refactor all request responsive ui/ux page
  angular/src/app/modules/absence-day/absence-day.component.css
  angular/src/app/modules/absence-day/absence-day.component.html
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.css
  angular/src/app/modules/off-day-project-for-user/off-day-project-for-user.component.html
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.css
  angular/src/app/modules/off-day-project-for-user/view-leave-day-of-user/view-leave-day-of-user.component.html
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.css
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
Due: azure-pipelines-fe.yml

refactor code: using enums, change the intervals logic
  angular/src/app/modules/branch-manager/manage-employee/enum/project-history.enum.ts
  angular/src/app/modules/branch-manager/manage-employee/project-history/project-history.component.html
  angular/src/app/modules/branch-manager/manage-employee/project-history/project-history.component.ts
  aspnet-core/src/Timesheet.Core/DomainServices/ManageUserProjectForBranchServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

initially update responsive UI/UX on Manage Requests feature
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

update node options: memory to build frontend
  .github/workflows/deploy_server_stg_fe.yml
Due: none

upgrade memory to build frontend to 4GB
  .github/workflows/deploy_server_stg_fe.yml
Due: none

finally update responsive UI/UX on Manage team working calendar feature
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
  angular/src/app/modules/off-day-project/off-day-project.component.ts
Due: azure-pipelines-fe.yml

feat: add import user mezonId api
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

update import user from Excel file API
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/Users/User.cs
Due: azure-pipelines-be.yml

remove comments
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

validate the file before processing the data inside this file
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml

Create Import Excel and Download Excel Template module in User feature
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/user/import-users/import-users.component.css
  angular/src/app/modules/user/import-users/import-users.component.html
  angular/src/app/modules/user/import-users/import-users.component.ts
  angular/src/app/modules/user/user.component.html
  angular/src/app/modules/user/user.component.ts
  angular/src/app/modules/user/user.module.ts
  angular/src/app/service/api/user.service.ts
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Web.Host/wwwroot/template/TemplateImportNewUsers.xlsx
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

change error content
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
Due: azure-pipelines-be.yml
