Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

azure-pipelines-be.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: DotnetBuild
    steps:
    - script: 'export PATH=$PATH:/opt/dotnet3/
  
        cd aspnet-core/src/Timesheet.Migrator
  
        dotnet3 publish -c Release
  
        '
      displayName: Dotnet Publish Migrator
  ...

azure-pipelines-fe.yml:
  pool:
    name: ERP_DEV
  jobs:
  - job: checkFile
    displayName: checkChangedFile
    steps:
    - task: ChangedFiles@1
      name: changedPackageJson
      inputs:
        rules: angular/package.json
        variable: changed
  - job: AngularBuild
    dependsOn: checkFile
    variables:
  ...

Clickable on chart in project management: show a list of members in the project
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/emum/type-target-user.enum.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.css
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.html
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.spec.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  angular/src/shared/paged-listing-component-base.ts
  angular/src/shared/pipes/typeTargetUser.pipe.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Clickable on chart in project management: edit title project name
  angular/src/app/modules/branch-manager/modal/project-management-modal/interface/project-type.interface.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.html
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

Clickable on chart in project management: Add percentage of working time and change data type.
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/interface/project-type.interface.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.css
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.html
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  angular/src/shared/paged-listing-component-base.ts
  angular/src/shared/pipes/projectTargetUser.pipe.ts
  angular/src/shared/pipes/typeTargetUser.pipe.ts
Due: azure-pipelines-fe.yml

#204: change business logic pm unlock approve timesheet
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

Manage Employee for Branch Manager: sortable by number of project, projects and users
  angular/src/app/modules/branch-manager/Dto/branch-manage-dto.ts
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/manage-employee/enum/sort-project-user-number.enum.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/shared/pipes/sortNumberOfProjectAndProject.pipe.ts
Due: azure-pipelines-fe.yml

Clickable on chart in project management: Edit width dialog and type target user.
  angular/src/app/modules/branch-manager/modal/project-management-modal/constant/type-target-user.constant.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/emum/type-target-user.enum.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  angular/src/shared/pipes/projectTargetUser.pipe.ts
Due: azure-pipelines-fe.yml

Clickable on chart in project management: Edit width dialog.
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

Clickable on chart in project management: Hover project is cursor pointer.
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
Due: azure-pipelines-fe.yml

Clickable on chart in project management: Sort By Member,By Effort, scroll more 10 item.
  angular/src/app/modules/branch-manager/modal/project-management-modal/enum/sort-member-effort.enum.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.css
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.html
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.ts
  angular/src/shared/pipes/projectTargetUser.pipe.ts
Due: azure-pipelines-fe.yml

Manage team working calendar: update UI, responsive for mobile view.
  angular/src/app/modules/off-day-project/off-day-project.component.css
  angular/src/app/modules/off-day-project/off-day-project.component.html
Due: azure-pipelines-fe.yml

Update management timesheet monitoring: Convert workingTime of target time.
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
Due: azure-pipelines-fe.yml

Manage Employee for Branch Manager sort project and number:edit css and filter.
  angular/src/app/modules/branch-manager/manage-employee/enum/sort-project-user-number.enum.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/shared/pipes/sortNumberOfProjectAndProject.pipe.ts
Due: azure-pipelines-fe.yml

Clickable on chart in project management: edit css and add total record.
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.css
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.html
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.ts
Due: azure-pipelines-fe.yml

Clickable on chart in project management: refactor code function toggleSortOrder.
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.ts
Due: azure-pipelines-fe.yml

Manage Employee for Branch Manager: sortable by number of project, projects and users: Edit bug icon up-down of project.
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
Due: azure-pipelines-fe.yml

Manage Employee for Branch Manager: sortable by number of project, projects and users: Edit css of sort number or project.
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.css
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
Due: azure-pipelines-fe.yml

Manage Employee for Branch Manager: fix can't show title.
  angular/src/app/modules/branch-manager/manage-employee/detail-participating-projects/detail-participating-projects.component.html
Due: azure-pipelines-fe.yml

Clickable on chart in project management: Chart edit sort icon by member.
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.html
Due: azure-pipelines-fe.yml

Clickable on chart in project management: Edit target time 6:42 to 5h - my timesheet monitoring.
  angular/src/app/modules/timesheets-supervisior/timesheets-supervisior.component.html
Due: azure-pipelines-fe.yml

#190: update list project in all request after deactivation employee
  angular/src/app/modules/off-day-project/off-day-project-detail/off-day-project-detail.component.ts
Due: azure-pipelines-fe.yml

#199: sort number of project/project name in BE instead of FE
  angular/src/app/modules/branch-manager/branch-manager.module.ts
  angular/src/app/modules/branch-manager/manage-employee/enum/sort-project-user-number.enum.ts
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.html
  angular/src/app/modules/branch-manager/manage-employee/manage-employee.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  angular/src/shared/pipes/sortNumberOfProjectAndProject.pipe.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#199: sort by fullname instead of first character
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml

#204: after unlock ts, only allow approval/reject 1 week ago
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

#204: update throw message when unlocked timesheet
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

#223: format HTML in tooltip
  angular/src/app/modules/report/interns-info/interns-info.component.css
  angular/src/app/modules/report/interns-info/interns-info.component.html
  angular/src/app/modules/report/interns-info/interns-info.component.ts
Due: azure-pipelines-fe.yml

#223: change handle note to BE, format code
  angular/src/app/modules/report/interns-info/interns-info.component.html
  angular/src/app/modules/report/interns-info/interns-info.component.ts
  aspnet-core/src/Timesheet.Application/APIs/InternInfo/InternsInfoAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#225: New API Reject Timesheet Opentalk
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

#204: fix can't approve monday after unlock timesheet
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

#225: new controller for external reject timesheet opentalk
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml

Manage Timesheet > update approve all request table: update column Note request.
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.css
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.html
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.ts
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.html
  angular/src/app/modules/off-day-project/leave-day-of-user/leave-day-of-user.component.ts
Due: azure-pipelines-fe.yml

#231: Update label and add sort basic trainer
  angular/src/app/modules/report/interns-info/interns-info.component.html
  angular/src/app/modules/report/interns-info/interns-info.component.ts
  aspnet-core/src/Timesheet.Application/APIs/InternInfo/Dto/InternsInfoDto.cs
  aspnet-core/src/Timesheet.Application/APIs/InternInfo/InternsInfoAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

#225: route api, format requestBody
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/Dto/ListUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/External/ExternalAppService.cs
Due: azure-pipelines-be.yml

Branch Manager-filter all project with none member and check the pagination: fix pagination and hide project empty in chart.
  angular/src/app/modules/branch-manager/project-management/project-management.component.html
  angular/src/shared/paged-listing-component-base.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Branch Manager-filter all project with none member and check the pagination: reload data at current page.
  angular/src/shared/paged-listing-component-base.ts
Due: azure-pipelines-fe.yml

Update management > Timesheet management: update column target user and target time.
  angular/src/app/modules/timesheet/timesheet.component.html
  angular/src/app/service/api/model/timesheet-Dto.ts
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/Timesheets/TimesheetAppSevice.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Manage Timesheet - update approve all request table: fix ui table width 100%.
  angular/src/app/modules/off-day-project/confirm-all-request/confirm-all-request.component.css
Due: azure-pipelines-fe.yml

Management - Project management: improve ui: add display projectCode UI.
  angular/src/app/modules/project-manager/project-manager.component.html
Due: azure-pipelines-fe.yml

#233: fix empty employee in project when filter by branch
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml

#233: fix: only display member of project in branch filtered
  angular/src/app/modules/branch-manager/modal/project-management-modal/interface/project-type.interface.ts
  angular/src/app/modules/branch-manager/modal/project-management-modal/project-management-member-detail.component.ts
  angular/src/app/modules/branch-manager/project-management/project-management.component.ts
  angular/src/app/service/api/manage-user-for-branch.service.ts
  angular/src/shared/pipes/projectTargetUser.pipe.ts
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/Dto/UserProjectsDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ProjectManagementBranchDirectors/ManageUserForBranchs/ManageUserForBranchAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml
