Repository ncc-erp/ncc-erp-timesheet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-be.yml, azure-pipelines-fe.yml

Path conditions:
  azure-pipelines-be.yml: any of: aspnet-core, azure-pipelines-be.yml
  azure-pipelines-fe.yml: any of: angular, azure-pipelines-fe.yml

fix show more button, remove console log
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/punishment/punishment.component.ts
  angular/src/app/modules/retros/retro/retro-detail/import-retro-detail/import-retro-detail.component.html
Due: azure-pipelines-fe.yml

delete unnecessary files
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog.component.ts
Due: azure-pipelines-fe.yml

fix responsive checkin punishment table
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetTimekeepingUserDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update layout
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/complain-dialog/complain-dialog.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/mytimesheet/mytimesheets.module.ts
  angular/src/app/modules/report/tardiness-leave-early/complain-reply/complain-reply.component.css
  angular/src/app/modules/report/tardiness-leave-early/complain-reply/complain-reply.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/create-edit-user-punishment/create-edit-user-punishment.component.css
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/create-edit-user-punishment/create-edit-user-punishment.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.html
Due: azure-pipelines-fe.yml

fix bug can not be displayed show more, show less and complain reply
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
Due: azure-pipelines-fe.yml

Refactor punishment system: UI/logic updates, new columns, improved permissions, cronjob config
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/api.constants.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.css
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.ts
  angular/src/app/service/api/late-intern-review-setting.service.ts
  angular/src/app/service/api/model/report-timesheet-Dto.ts
  angular/src/app/service/api/pm-report-punish-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/UserPunishmentDailyDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/ProjectSetting/PMReportPunishSettingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UserPunishmentDailyDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/AddDataToTimeKeeping.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/CheckAndPunishLateReviewWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/LateInternReviewSettingDto.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/PMReportPunishSettingDto.cs
  aspnet-core/src/Timesheet.Application/Timesheet.Application.csproj
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix BasicUser Role for show neccessary column
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
Due: azure-pipelines-fe.yml

feat: update content review level
  aspnet-core/src/Timesheet.Core/Uitls/CommonUtils.cs
Due: azure-pipelines-be.yml

update tardiness add punishment group type filter, change count -> money in both create userpunishment and download,import function, fix basic role rule, fix onsite punishment rules
  angular/src/app/constant/api.constants.ts
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.css
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.html
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/create-edit-user-punishment/create-edit-user-punishment.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/create-edit-user-punishment/create-edit-user-punishment.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.ts
  angular/src/app/service/api/timekeeping.service.ts
  angular/src/app/service/api/user-punishment.service.ts
  angular/src/app/service/api/user.service.ts
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/CreateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UpdateUserPunishmentDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/Dto/UserPunishmentImportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
  aspnet-core/src/Timesheet.Application/Users/UserAppService.cs
  aspnet-core/src/Timesheet.Core/Constants/Enum/StatusEnum.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/GetUserDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix onsite punishment bug
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

fix checkin punishment table to collect old data
  angular/src/app/modules/mytimesheet/mytimesheet-tardiness/mytimesheet-tardiness.component.ts
  angular/src/app/service/api/mezon-webview-service.ts
  angular/src/assets/appconfig.json
  angular/src/shared/auth/app-auth.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix migration file, disable logout button on app
  angular/src/app/service/api/mezon-webview-service.ts
  angular/src/assets/appconfig.json
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250620102006_Update_IsPunishmentProcessed_to_ReviewIntern.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250620102006_Update_IsPunishmentProcessed_to_ReviewIntern.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250804063651_Add_UserPunishment_And_PunishmentSystem_And_IsPunishmentProcessedCollumn.Designer.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/20250804063651_Add_UserPunishment_And_PunishmentSystem_And_IsPunishmentProcessedCollumn.cs
  aspnet-core/src/Timesheet.EntityFrameworkCore/Migrations/TimesheetDbContextModelSnapshot.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove lock out user logic
  aspnet-core/src/Timesheet.Core/Authorization/LoginManager.cs
Due: azure-pipelines-be.yml

change description for review deadline day
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

add warning-style popup
  angular/src/app/modules/project-manager/auto-add-user-warning-dialog.component.ts
  angular/src/app/modules/project-manager/create-project/create-project.component.html
  angular/src/app/modules/project-manager/create-project/create-project.component.ts
  angular/src/app/modules/project-manager/project-manager.module.ts
Due: azure-pipelines-fe.yml

fix background worker late review intern
  aspnet-core/src/Timesheet.Application/BackgroundWorker/CheckAndPunishLateReviewWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ReviewInternServices.cs
Due: azure-pipelines-be.yml

add logic if background late intern revie fail , retry after 1 hour
  aspnet-core/src/Timesheet.Application/BackgroundWorker/CheckAndPunishLateReviewWorker.cs
Due: azure-pipelines-be.yml

add manual late intern review and pm report punishment
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/late-intern-review-setting.service.ts
  angular/src/app/service/api/pm-report-punish-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/UserPunishment/UserPunishmentAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix configuration setting, fix bug onsite morning, off afternoon
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/CheckAndPunishLateReviewWorker.cs
  aspnet-core/src/Timesheet.Core/DomainServices/ReviewInternServices.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

add missing code
  angular/src/app/configuration/configuration.component.html
  angular/src/app/service/api/late-intern-review-setting.service.ts
  angular/src/app/service/api/pm-report-punish-setting.service.ts
Due: azure-pipelines-fe.yml

remove code
  angular/src/app/configuration/configuration.component.html
Due: azure-pipelines-fe.yml

Fix the check-in punishment bug that deletes records and overwrites PM report punishment.
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml

update logic unlock timesheet to approve for pm (insert punishment into userpunishment table)
  aspnet-core/src/Timesheet.Application/APIs/Info/InfoAppService.cs
Due: azure-pipelines-be.yml

update push message (all kind of request, submit timesheet) using mezonuserid
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
Due: azure-pipelines-be.yml

Fix 24-hour limit validation in CreateByKomu and CreateFullByKomu method(*daily api)
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

approve sql
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
Due: azure-pipelines-be.yml

Update comment
  aspnet-core/src/Timesheet.Application/APIs/Timesheets/MyTimesheets/MyTimesheetsAppService.cs
Due: azure-pipelines-be.yml

update logic
  aspnet-core/src/Timesheet.Core/Services/Mezon/MezonService.cs
Due: azure-pipelines-be.yml

Refactor tardiness report -> punishment report, show total money punishment
  angular/src/app/layout/sidebar-nav.component.ts
  angular/src/app/modules/report/tardiness-leave-early/tardiness-detail/tardiness-detail.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.css
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.html
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.ts
  angular/src/app/service/api/model/tardiness-result-dto.ts
  angular/src/app/service/export.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/GetTardinessUserDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/Dto/TardinessResultDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Timekeepings/TimekeepingAppService.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

remove uneccessary code
  angular/src/app/modules/report/tardiness-leave-early/tardiness-leave-early.component.ts
Due: azure-pipelines-fe.yml

cron job config for bot
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/constant/permission.constant.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Authorization/PermissionNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update bot
  angular/src/app/configuration/configuration.component.html
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  angular/src/app/service/api/office-working-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/OfficeWorkingReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

update bot workingtime
  aspnet-core/src/Timesheet.Application/APIs/ReportDailyWorkingTimeLWLM/Dto/UserTimeReportByLWAndLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReportDailyWorkingTimeLWLM/Dto/UserTimeReportResponseDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReportDailyWorkingTimeLWLM/UserTimeReport_BotAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportDailyWorkingTimeWorker.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml

update office working report
  angular/src/app/configuration/configuration.component.ts
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Reports/OfficeWorkingReportAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/OfficeWorkingReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/OfficeWorkingReportSettingDto.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix open talk default working time to 1 hour, fix double click on submit teambulding money
  angular/src/app/modules/mytimesheet/create-edit-timesheet-item/create-edit-timesheet-item.component.ts
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.html
  angular/src/app/modules/team-building/team-building-pm/pm-send-request/pm-send-request.component.ts
Due: azure-pipelines-fe.yml

add GetWorkingStatusByUserV2 for status check bot
  aspnet-core/src/Timesheet.Application/APIs/Public/PublicAppService.cs
Due: azure-pipelines-be.yml

update bot 145
  angular/src/app/configuration/configuration.component.html
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/UserTimeReportByLWAndLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/Dto/UserTimeReportResponseDto.cs
  aspnet-core/src/Timesheet.Application/APIs/Reports/UserTimeReport_BotAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix daily project report bot
  angular/src/app/configuration/configuration.component.html
  angular/src/app/service/api/bot-report-setting.service.ts
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/BotReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Application/APIs/BotReportDaily/IBotReportDailyAppService.cs
  aspnet-core/src/Timesheet.Application/APIs/ReportDailyWorkingTimeLWLM/Dto/UserTimeReportByLWAndLMDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReportDailyWorkingTimeLWLM/Dto/UserTimeReportResponseDto.cs
  aspnet-core/src/Timesheet.Application/APIs/ReportDailyWorkingTimeLWLM/UserTimeReport_BotAppService.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportDailyWorkingTimeWorker.cs
  aspnet-core/src/Timesheet.Application/BackgroundWorker/BotReportWorker.cs
  aspnet-core/src/Timesheet.Application/Configuration/ConfigurationAppService.cs
  aspnet-core/src/Timesheet.Application/Configuration/Dto/BotReportSettingDto.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingNames.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingProvider.cs
  aspnet-core/src/Timesheet.Core/Configuration/AppSettingsJsonExtensions.cs
  aspnet-core/src/Timesheet.Core/DomainServices/BotReportDailyService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/Dto/DailyProjectTimelogReportDto.cs
  aspnet-core/src/Timesheet.Core/DomainServices/IBotReportDailyServices.cs
  aspnet-core/src/Timesheet.Web.Host/Startup/TimesheetWebHostModule.cs
Due: azure-pipelines-be.yml, azure-pipelines-fe.yml

fix tracker = 0 -> still punish, change open talk time to 60 mintues to calculate salary
  aspnet-core/src/Timesheet.Application/APIs/HRMv2/HRMv2AppService.cs
  aspnet-core/src/Timesheet.Core/DomainServices/TimekeepingServices.cs
Due: azure-pipelines-be.yml
